In [38]:
from path import Path
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn
import statsapi
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [40]:
# read the data 
data2019 = Path("Data/2019rotosheet.csv")
df2019 = pd.read_csv(data2019)
df2019.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20190320,0,Wed,SEA,AL,1,OAK,AL,1,9,...,Jurickson Profar,4,semim001,Marcus Semien,6,hundn001,Nick Hundley,2,NaN,Y
1,20190321,0,Thu,SEA,AL,2,OAK,AL,2,5,...,Jurickson Profar,4,laurr001,Ramon Laureano,8,phegj001,Josh Phegley,2,NaN,Y
2,20190328,0,Thu,PIT,NL,1,CIN,NL,1,3,...,Tucker Barnhart,2,iglej001,Jose Iglesias,6,castl003,Luis Castillo,1,NaN,Y
3,20190328,0,Thu,ARI,NL,1,LAN,NL,1,5,...,Enrique Hernandez,4,barna001,Austin Barnes,2,ryu-h001,Hyun-Jin Ryu,1,NaN,Y
4,20190328,0,Thu,COL,NL,1,MIA,NL,1,6,...,Miguel Rojas,6,herrr002,Rosell Herrera,7,urenj001,Jose Urena,1,NaN,Y

In [41]:
data2018 = Path("Data/2018rotosheet.csv")
df2018 = pd.read_csv(data2018)
df2018.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20180329.0,0.0,Thu,COL,NL,1.0,ARI,NL,1.0,2.0,...,Nick Ahmed,6.0,dysoj001,Jarrod Dyson,9.0,corbp001,Patrick Corbin,1.0,NaN,Y
1,20180329.0,0.0,Thu,PHI,NL,1.0,ATL,NL,1.0,5.0,...,Dansby Swanson,6.0,flahr001,Ryan Flaherty,5.0,tehej001,Julio Teheran,1.0,NaN,Y
2,20180329.0,0.0,Thu,SFN,NL,1.0,LAN,NL,1.0,1.0,...,Yasmani Grandal,2.0,forsl001,Logan Forsythe,5.0,kersc001,Clayton Kershaw,1.0,NaN,Y
3,20180329.0,0.0,Thu,CHN,NL,1.0,MIA,NL,1.0,8.0,...,Miguel Rojas,6.0,wallc001,Chad Wallach,2.0,urenj001,Jose Urena,1.0,NaN,Y
4,20180329.0,0.0,Thu,SLN,NL,1.0,NYN,NL,1.0,4.0,...,Kevin Plawecki,2.0,syndn001,Noah Syndergaard,1.0,rosaa003,Amed Rosario,6.0,NaN,Y

In [42]:
data2017 = Path("Data/2017rotosheet.csv")
df2017 = pd.read_csv(data2017)
df2017.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20170402,0,Sun,SFN,NL,1,ARI,NL,1,5,...,David Peralta,9,mathj001,Jeff Mathis,2,greiz001,Zack Greinke,1,NaN,Y
1,20170402,0,Sun,CHN,NL,1,SLN,NL,1,3,...,Jedd Gyorko,4,gricr001,Randal Grichuk,7,martc006,Carlos Martinez,1,NaN,Y
2,20170402,0,Sun,NYA,AL,1,TBA,AL,1,3,...,Tim Beckham,6,smitm007,Mallex Smith,7,norrd001,Derek Norris,2,NaN,Y
3,20170403,0,Mon,PHI,NL,1,CIN,NL,1,4,...,Zack Cozart,6,barnt001,Tucker Barnhart,2,felds001,Scott Feldman,1,NaN,Y
4,20170403,0,Mon,SDN,NL,1,LAN,NL,1,3,...,Yasmani Grandal,2,puigy001,Yasiel Puig,9,kersc001,Clayton Kershaw,1,NaN,Y

In [43]:
data2016 = Path("Data/2016rotosheet.csv")
df2016 = pd.read_csv(data2016)
df2016.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20160403,0,Sun,NYN,NL,1,KCA,AL,1,3,...,Salvador Perez,2,infao001,Omar Infante,4,fuenr001,Reymond Fuentes,9,NaN,Y
1,20160403,0,Sun,TOR,AL,1,TBA,AL,1,5,...,Steven Souza,9,kierk001,Kevin Kiermaier,8,congh001,Hank Conger,2,NaN,Y
2,20160403,0,Sun,SLN,NL,1,PIT,NL,1,1,...,Josh Harrison,4,mercj002,Jordy Mercer,6,lirif001,Francisco Liriano,1,NaN,Y
3,20160404,0,Mon,CHN,NL,1,ANA,AL,1,9,...,Andrelton Simmons,6,perec003,Carlos Perez,2,giavj001,Johnny Giavotella,4,NaN,Y
4,20160404,0,Mon,MIN,AL,1,BAL,AL,1,2,...,J.J. Hardy,6,schoj001,Jonathan Schoop,4,rickj001,Joey Rickard,7,NaN,Y

In [44]:
data2015 = Path("Data/2015rotosheet.csv")
df2015 = pd.read_csv(data2015)
df2015.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20150405,0,Sun,SLN,NL,1,CHN,NL,1,3,...,David Ross,2,lestj001,Jon Lester,1,lastt001,Tommy La Stella,4,NaN,Y
1,20150406,0,Mon,MIN,AL,1,DET,AL,1,0,...,Nick Castellanos,5,avila001,Alex Avila,2,iglej001,Jose Iglesias,6,NaN,Y
2,20150406,0,Mon,CLE,AL,1,HOU,AL,1,0,...,Jed Lowrie,6,rasmc001,Colby Rasmus,7,marij002,Jake Marisnick,8,NaN,Y
3,20150406,0,Mon,CHA,AL,1,KCA,AL,1,1,...,Alex Rios,9,peres002,Salvador Perez,2,infao001,Omar Infante,4,NaN,Y
4,20150406,0,Mon,TOR,AL,1,NYA,AL,1,6,...,Alex Rodriguez,10,drews001,Stephen Drew,4,gregd001,Didi Gregorius,6,NaN,Y

In [45]:
data2014 = Path("Data/2014rotosheet.csv")
df2014 = pd.read_csv(data2014)
df2014.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20140322,0,Sat,LAN,NL,1,ARI,NL,1,3,...,Chris Owings,6,parrg001,Gerardo Parra,9,milew001,Wade Miley,1,NaN,Y
1,20140323,0,Sun,LAN,NL,2,ARI,NL,2,7,...,Gerardo Parra,9,gregd001,Didi Gregorius,6,cahit001,Trevor Cahill,1,NaN,Y
2,20140330,0,Sun,LAN,NL,3,SDN,NL,1,1,...,Will Venable,8,river003,Rene Rivera,2,casha001,Andrew Cashner,1,NaN,Y
3,20140331,0,Mon,SEA,AL,1,ANA,AL,1,10,...,Howie Kendrick,4,iannc001,Chris Iannetta,2,aybae001,Erick Aybar,6,NaN,Y
4,20140331,0,Mon,BOS,AL,1,BAL,AL,1,1,...,Delmon Young,10,flahr001,Ryan Flaherty,5,schoj001,Jonathan Schoop,4,NaN,Y

In [46]:
df_allyears = pd.concat([df2019,df2018,df2017,df2016,df2015,df2014], axis="rows", join="inner")

In [47]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20190320.0,0.0,Wed,SEA,AL,1.0,OAK,AL,1.0,9.0,...,Jurickson Profar,4.0,semim001,Marcus Semien,6.0,hundn001,Nick Hundley,2.0,NaN,Y
1,20190321.0,0.0,Thu,SEA,AL,2.0,OAK,AL,2.0,5.0,...,Jurickson Profar,4.0,laurr001,Ramon Laureano,8.0,phegj001,Josh Phegley,2.0,NaN,Y
2,20190328.0,0.0,Thu,PIT,NL,1.0,CIN,NL,1.0,3.0,...,Tucker Barnhart,2.0,iglej001,Jose Iglesias,6.0,castl003,Luis Castillo,1.0,NaN,Y
3,20190328.0,0.0,Thu,ARI,NL,1.0,LAN,NL,1.0,5.0,...,Enrique Hernandez,4.0,barna001,Austin Barnes,2.0,ryu-h001,Hyun-Jin Ryu,1.0,NaN,Y
4,20190328.0,0.0,Thu,COL,NL,1.0,MIA,NL,1.0,6.0,...,Miguel Rojas,6.0,herrr002,Rosell Herrera,7.0,urenj001,Jose Urena,1.0,NaN,Y

In [48]:
df_allyears.reset_index(inplace=True)

In [49]:
df_allyears.head()

,index,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,0,20190320.0,0.0,Wed,SEA,AL,1.0,OAK,AL,1.0,...,Jurickson Profar,4.0,semim001,Marcus Semien,6.0,hundn001,Nick Hundley,2.0,NaN,Y
1,1,20190321.0,0.0,Thu,SEA,AL,2.0,OAK,AL,2.0,...,Jurickson Profar,4.0,laurr001,Ramon Laureano,8.0,phegj001,Josh Phegley,2.0,NaN,Y
2,2,20190328.0,0.0,Thu,PIT,NL,1.0,CIN,NL,1.0,...,Tucker Barnhart,2.0,iglej001,Jose Iglesias,6.0,castl003,Luis Castillo,1.0,NaN,Y
3,3,20190328.0,0.0,Thu,ARI,NL,1.0,LAN,NL,1.0,...,Enrique Hernandez,4.0,barna001,Austin Barnes,2.0,ryu-h001,Hyun-Jin Ryu,1.0,NaN,Y
4,4,20190328.0,0.0,Thu,COL,NL,1.0,MIA,NL,1.0,...,Miguel Rojas,6.0,herrr002,Rosell Herrera,7.0,urenj001,Jose Urena,1.0,NaN,Y

In [50]:
df_allyears.drop(columns = 'index', inplace=True)

In [51]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20190320.0,0.0,Wed,SEA,AL,1.0,OAK,AL,1.0,9.0,...,Jurickson Profar,4.0,semim001,Marcus Semien,6.0,hundn001,Nick Hundley,2.0,NaN,Y
1,20190321.0,0.0,Thu,SEA,AL,2.0,OAK,AL,2.0,5.0,...,Jurickson Profar,4.0,laurr001,Ramon Laureano,8.0,phegj001,Josh Phegley,2.0,NaN,Y
2,20190328.0,0.0,Thu,PIT,NL,1.0,CIN,NL,1.0,3.0,...,Tucker Barnhart,2.0,iglej001,Jose Iglesias,6.0,castl003,Luis Castillo,1.0,NaN,Y
3,20190328.0,0.0,Thu,ARI,NL,1.0,LAN,NL,1.0,5.0,...,Enrique Hernandez,4.0,barna001,Austin Barnes,2.0,ryu-h001,Hyun-Jin Ryu,1.0,NaN,Y
4,20190328.0,0.0,Thu,COL,NL,1.0,MIA,NL,1.0,6.0,...,Miguel Rojas,6.0,herrr002,Rosell Herrera,7.0,urenj001,Jose Urena,1.0,NaN,Y

In [52]:
df_allyears['home_winner'] = ""

In [151]:
df_allyears['spread'] =""

In [152]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info,home_winner,spread
0,20190320.0,0.0,Wed,SEA,AL,1.0,OAK,AL,1.0,9.0,...,semim001,Marcus Semien,6.0,hundn001,Nick Hundley,2.0,NaN,Y,0,
1,20190321.0,0.0,Thu,SEA,AL,2.0,OAK,AL,2.0,5.0,...,laurr001,Ramon Laureano,8.0,phegj001,Josh Phegley,2.0,NaN,Y,0,
2,20190328.0,0.0,Thu,PIT,NL,1.0,CIN,NL,1.0,3.0,...,iglej001,Jose Iglesias,6.0,castl003,Luis Castillo,1.0,NaN,Y,1,
3,20190328.0,0.0,Thu,ARI,NL,1.0,LAN,NL,1.0,5.0,...,barna001,Austin Barnes,2.0,ryu-h001,Hyun-Jin Ryu,1.0,NaN,Y,1,
4,20190328.0,0.0,Thu,COL,NL,1.0,MIA,NL,1.0,6.0,...,herrr002,Rosell Herrera,7.0,urenj001,Jose Urena,1.0,NaN,Y,0,

In [159]:
for x in range(0,len(df_allyears)):
    df_allyears['spread'][x] = df_allyears['hom score'][x] - df_allyears['vis score'][x]
    if (df_allyears['hom score'][x] - df_allyears['vis score'][x]) > 0:
        df_allyears['home_winner'][x] = 1
    else:
        df_allyears['home_winner'][x] = 0

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [160]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info,home_winner,spread
0,20190320.0,0.0,Wed,SEA,AL,1.0,OAK,AL,1.0,9.0,...,semim001,Marcus Semien,6.0,hundn001,Nick Hundley,2.0,NaN,Y,0,-2
1,20190321.0,0.0,Thu,SEA,AL,2.0,OAK,AL,2.0,5.0,...,laurr001,Ramon Laureano,8.0,phegj001,Josh Phegley,2.0,NaN,Y,0,-1
2,20190328.0,0.0,Thu,PIT,NL,1.0,CIN,NL,1.0,3.0,...,iglej001,Jose Iglesias,6.0,castl003,Luis Castillo,1.0,NaN,Y,1,2
3,20190328.0,0.0,Thu,ARI,NL,1.0,LAN,NL,1.0,5.0,...,barna001,Austin Barnes,2.0,ryu-h001,Hyun-Jin Ryu,1.0,NaN,Y,1,7
4,20190328.0,0.0,Thu,COL,NL,1.0,MIA,NL,1.0,6.0,...,herrr002,Rosell Herrera,7.0,urenj001,Jose Urena,1.0,NaN,Y,0,-3

In [165]:
df_allyears_encoded = pd.get_dummies(df_allyears, columns = ['vis team', 'hom team', 'd/n'])

In [166]:
df_allyears_encoded.head()

,Date,no of games,day,vis league,vis game no,hom league,hom game no,vis score,hom score,no of total outs,...,hom team_SDN,hom team_SEA,hom team_SFN,hom team_SLN,hom team_TBA,hom team_TEX,hom team_TOR,hom team_WAS,d/n_D,d/n_N
0,20190320.0,0.0,Wed,AL,1.0,AL,1.0,9.0,7.0,54.0,...,0,0,0,0,0,0,0,0,0,1
1,20190321.0,0.0,Thu,AL,2.0,AL,2.0,5.0,4.0,72.0,...,0,0,0,0,0,0,0,0,0,1
2,20190328.0,0.0,Thu,NL,1.0,NL,1.0,3.0,5.0,51.0,...,0,0,0,0,0,0,0,0,1,0
3,20190328.0,0.0,Thu,NL,1.0,NL,1.0,5.0,12.0,51.0,...,0,0,0,0,0,0,0,0,1,0
4,20190328.0,0.0,Thu,NL,1.0,NL,1.0,6.0,3.0,54.0,...,0,0,0,0,0,0,0,0,1,0

In [167]:
df_allyears_encoded.to_csv(r'dataframe.csv')

In [168]:
cleandata = Path("dataframev2.csv")
df_clean_data = pd.read_csv(cleandata)
df_clean_data.head()

,Date,vis league,hom league,VIS Abs,VIS H,VIS 2B,VIS 3B,VIS HR,VIS SAC HIT,VIS SAC FLY,...,hom team_SEA,hom team_SFN,hom team_SLN,hom team_TBA,hom team_TEX,hom team_TOR,hom team_WAS,d/n_D,d/n_N,spread
0,20190320,AL,AL,31,7,1,0,2,1,1,...,0,0,0,0,0,0,0,0,1,-2
1,20190321,AL,AL,43,9,4,0,2,0,1,...,0,0,0,0,0,0,0,0,1,-1
2,20190328,NL,NL,31,5,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,2
3,20190328,NL,NL,33,9,4,0,2,0,2,...,0,0,0,0,0,0,0,1,0,7
4,20190328,NL,NL,36,9,5,0,1,0,0,...,0,0,0,0,0,0,0,1,0,-3

In [169]:
df_clean_data_encoded = pd.get_dummies(df_clean_data, columns = ['hom league','vis league'])

In [170]:
X = df_clean_data_encoded.copy()
X.drop("home_winner", axis=1, inplace=True)
X.head()

,Date,VIS Abs,VIS H,VIS 2B,VIS 3B,VIS HR,VIS SAC HIT,VIS SAC FLY,VIS HBP,VIS WALK,...,hom team_TEX,hom team_TOR,hom team_WAS,d/n_D,d/n_N,spread,hom league_AL,hom league_NL,vis league_AL,vis league_NL
0,20190320,31,7,1,0,2,1,1,2,6,...,0,0,0,0,1,-2,1,0,1,0
1,20190321,43,9,4,0,2,0,1,2,5,...,0,0,0,0,1,-1,1,0,1,0
2,20190328,31,5,0,0,1,1,0,0,7,...,0,0,0,1,0,2,0,1,0,1
3,20190328,33,9,4,0,2,0,2,0,0,...,0,0,0,1,0,7,0,1,0,1
4,20190328,36,9,5,0,1,0,0,0,3,...,0,0,0,1,0,-3,0,1,0,1

In [171]:
y = df_clean_data_encoded["home_winner"].ravel()

In [172]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [173]:
scaler = StandardScaler()

In [174]:
X_scaler = scaler.fit(X_train)

In [175]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [176]:
X_train.isnull().sum()

Date             0
VIS Abs          0
VIS H            0
VIS 2B           0
VIS 3B           0
                ..
spread           0
hom league_AL    0
hom league_NL    0
vis league_AL    0
vis league_NL    0
Length: 116, dtype: int64

In [177]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

In [178]:
rf_model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [179]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [180]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [181]:
# Calculating the confusion matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [182]:
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1689            0
Actual 1            0         1956

Accuracy Score : 1.0
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1689
           1       1.00      1.00      1.00      1956

    accuracy                           1.00      3645
   macro avg       1.00      1.00      1.00      3645
weighted avg       1.00      1.00      1.00      3645

In [183]:
X_test

,Date,VIS Abs,VIS H,VIS 2B,VIS 3B,VIS HR,VIS SAC HIT,VIS SAC FLY,VIS HBP,VIS WALK,...,hom team_TEX,hom team_TOR,hom team_WAS,d/n_D,d/n_N,spread,hom league_AL,hom league_NL,vis league_AL,vis league_NL
12584,20140503,36,9,1,0,2,0,0,0,0,...,0,0,0,1,0,6,1,0,1,0
9643,20160927,32,5,1,0,1,0,0,0,6,...,0,0,0,0,1,6,0,1,0,1
3328,20180605,34,9,2,0,2,0,0,2,2,...,0,1,0,0,1,-5,1,0,1,0
6826,20170829,33,7,0,0,2,0,0,0,3,...,0,0,0,0,1,6,1,0,1,0
11887,20150916,45,13,1,0,1,0,0,0,4,...,0,0,0,0,1,-3,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9383,20160909,31,5,2,0,1,0,0,1,1,...,0,0,0,0,1,1,1,0,1,0
12255,20140408,34,11,3,1,0,1,2,1,7,...,0,0,0,0,1,-1,0,1,0,1
6903,20170903,34,5,1,0,0,0,0,0,2,...,0,0,0,0,1,7,1,0,1,0
10149,20150508,17,5,1,0,0,0,1,1,4,...,0,0,0,0,1,-1,0,1,0,1
10537,20150605,29,5,0,0,0,1,1,0,3,...,0,0,0,0,1,-1,0,1,0,1

In [184]:
predictions

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)

In [185]:
X_train_scaled

array([[ 0.30456698,  0.72023563,  0.94099215, ...,  1.00073206,
        -0.99908567,  0.99908567],
       [-0.85875087,  0.0286576 ,  0.65800334, ..., -0.99926847,
         1.00091516, -1.00091516],
       [ 1.46238922,  2.56444373,  0.37501453, ...,  1.00073206,
        -0.99908567,  0.99908567],
       ...,
       [ 0.28749548,  0.0286576 , -0.19096308, ...,  1.00073206,
        -0.99908567,  0.99908567],
       [ 1.46192151, -0.89344645, -0.47395189, ..., -0.99926847,
         1.00091516, -1.00091516],
       [ 0.31187499,  0.0286576 , -0.19096308, ..., -0.99926847,
        -0.99908567,  0.99908567]])

In [186]:
importances = rf_model.feature_importances_

sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.5257741899804326, 'spread'),
 (0.05573167399743777, 'VIS H'),
 (0.054928027444437026, 'HOM H'),
 (0.0367705007925857, 'VIS Abs'),
 (0.029944179615191375, 'HOM HR'),
 (0.02746678175476966, 'VIS HR'),
 (0.021133122809994197, 'HOM Abs'),
 (0.01617437980884318, 'VIS WALK'),
 (0.015629583903689154, 'HOM K'),
 (0.01350068862913563, 'VIS 2B'),
 (0.012569414260349457, 'HOM WALK'),
 (0.011037440147935118, 'HOM 2B'),
 (0.010580187091045988, 'HOM IBB'),
 (0.009319793735325717, 'VIS IBB'),
 (0.008332267062964771, 'VIS assists'),
 (0.008171934894497614, 'Date'),
 (0.007122873045471433, 'VIS LOB'),
 (0.0070506939743450936, 'HOM LOB'),
 (0.006448552846054053, 'VIS K'),
 (0.00639635972931595, 'HOM SB'),
 (0.005606402657079944, 'HOM errors'),
 (0.005568716985622441, 'HOM No P'),
 (0.005479228941876642, 'VIS No P'),
 (0.005374581558652138, 'VIS SAC FLY'),
 (0.005343216185915513, 'HOM assists'),
 (0.004608786733678692, 'VIS SB'),
 (0.004586071275836742, 'HOM SAC FLY'),
 (0.004315622930466399, 'VIS errors'),
 (0.0037483321496746573, 'HOM SAC HIT'),
 (0.0034318533451672155, 'HOM 3B'),
 (0.0033124804191876894, 'VIS double plays'),
 (0.002987082664145396, 'HOM GIDP'),
 (0.0026853752300352923, 'HOM double plays'),
 (0.002556515832518995, 'HOM WP'),
 (0.0025354280020967535, 'VIS GIDP'),
 (0.0025310978577769024, 'VIS SAC HIT'),
 (0.002364737617216199, 'VIS WP'),
 (0.0023506608941528395, 'VIS HBP'),
 (0.002336118099973268, 'VIS 3B'),
 (0.0021977497815657263, 'HOM HBP'),
 (0.0017843610395640486, 'VIS CS'),
 (0.0016430024826632047, 'HOM CS'),
 (0.0012551632258570758, 'd/n_D'),
 (0.0012486724998386732, 'd/n_N'),
 (0.0010794533325227263, 'vis league_NL'),
 (0.001074747348948805, 'vis league_AL'),
 (0.001042415939145701, 'hom league_NL'),
 (0.000903238384997766, 'HOM passed balls'),
 (0.0008843127199343009, 'hom league_AL'),
 (0.0007027060463942454, 'VIS passed balls'),
 (0.0006075956216503971, 'vis team_PHI'),
 (0.0005996893600075277, 'hom team_ARI'),
 (0.0005970043241894608, 'hom team_LAN'),
 (0.0005914633803575089, 'vis team_CHA'),
 (0.0005810533874917328, 'vis team_CIN'),
 (0.000578476449626273, 'hom team_MIA'),
 (0.0005744769241413184, 'hom team_ATL'),
 (0.0005670203468356122, 'hom team_NYA'),
 (0.0005615688147814527, 'hom team_SEA'),
 (0.0005561373712657062, 'hom team_CHN'),
 (0.0005481783277701393, 'vis team_CHN'),
 (0.0005358270014993406, 'hom team_ANA'),
 (0.0005278901033284202, 'hom team_TBA'),
 (0.0005265170175697954, 'hom team_PHI'),
 (0.0005224546455396116, 'vis team_SEA'),
 (0.0005217210532291129, 'vis team_HOU'),
 (0.0005210923345657652, 'hom team_COL'),
 (0.00052058020582596, 'vis team_BAL'),
 (0.0005205123114197702, 'hom team_OAK'),
 (0.0005179848650489851, 'VIS Balks'),
 (0.0005104509768055714, 'hom team_DET'),
 (0.0005076658241440734, 'vis team_SDN'),
 (0.0005054717323890621, 'vis team_MIL'),
 (0.000502176471576059, 'vis team_NYA'),
 (0.0005005573582573498, 'vis team_TOR'),
 (0.000488962369435454, 'vis team_MIA'),
 (0.00048718279267510927, 'hom team_SFN'),
 (0.0004815593371262463, 'hom team_SLN'),
 (0.0004813387966937101, 'vis team_SLN'),
 (0.0004813121652960672, 'hom team_TEX'),
 (0.0004774210409466552, 'hom team_KCA'),
 (0.0004768448274670432, 'hom team_BAL'),
 (0.0004759815446559345, 'vis team_BOS'),
 (0.0004751260422776943, 'hom team_WAS'),
 (0.00047378068715581937, 'vis team_ARI'),
 (0.00046786996368751893, 'hom team_BOS'),
 (0.0004629675891186581, 'vis team_ATL'),
 (0.00046251892943687944, 'vis team_COL'),
 (0.0004603261603079462, 'hom team_NYN'),
 (0.00045945256459660645, 'vis team_PIT'),
 (0.0004541129097812209, 'vis team_OAK'),
 (0.00044838441113917, 'hom team_CIN'),
 (0.0004480145891345565, 'vis team_ANA'),
 (0.00044597792518550033, 'vis team_SFN'),
 (0.000444066065730781, 'hom team_MIL'),
 (0.00043889967800268175, 'vis team_KCA'),
 (0.00043888350314422446, 'hom team_HOU'),
 (0.0004334385701309315, 'HOM Balks'),
 (0.00043332462711797367, 'vis team_DET'),
 (0.00043093515043049686, 'hom team_CHA'),
 (0.0004254706642586493, 'vis team_CLE'),
 (0.00042529840834324914, 'vis team_NYN'),
 (0.0004211473480271782, 'hom team_MIN'),
 (0.00042092399110341843, 'hom team_CLE'),
 (0.0004170389166352261, 'vis team_LAN'),
 (0.00041120465960328196, 'vis team_TEX'),
 (0.0004088279326998561, 'hom team_PIT'),
 (0.00039672384799590947, 'vis team_MIN'),
 (0.00038740273028433514, 'vis team_WAS'),
 (0.00038485036132223207, 'hom team_TOR'),
 (0.000383954330378427, 'hom team_SDN'),
 (0.00037959911306480616, 'vis team_TBA'),
 (0.00016319125017041417, 'VIS INF'),
 (0.00010903244116794604, 'HOM INF'),
 (8.043334787041046e-05, 'VIS triple plays'),
 (3.187450075629115e-05, 'HOM triple plays')]