In [324]:
from path import Path
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn
import statsapi
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [325]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [326]:
# read the data 
data2019 = Path("Data/2019rotosheet.csv")
df2019 = pd.read_csv(data2019)
df2019.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info,is sea home,is oak home,is new york home,is cini hom,is mia home,is laa hom
0,20190320,0,Wed,SEA,AL,1,OAK,AL,1,9,...,Nick Hundley,2,NaN,Y,1.0,0.0,0.0,0.0,0.0,NaN
1,20190321,0,Thu,SEA,AL,2,OAK,AL,2,5,...,Josh Phegley,2,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
2,20190328,0,Thu,PIT,NL,1,CIN,NL,1,3,...,Luis Castillo,1,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
3,20190328,0,Thu,ARI,NL,1,LAN,NL,1,5,...,Hyun-Jin Ryu,1,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
4,20190328,0,Thu,COL,NL,1,MIA,NL,1,6,...,Jose Urena,1,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN

In [327]:
data2018 = Path("Data/2018rotosheet.csv")
df2018 = pd.read_csv(data2018)
df2018.tail()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
2426,20180930,0,Sun,CHA,AL,162,MIN,AL,162,4,...,Logan Forsythe,4,astuw001,Willians Astudillo,5,gratj001,Juan Graterol,2,NaN,Y
2427,20180930,0,Sun,TEX,AL,162,SEA,AL,162,1,...,Kristopher Negron,4,freid001,David Freitas,2,romia001,Andrew Romine,6,NaN,Y
2428,20180930,0,Sun,TOR,AL,162,TBA,AL,162,4,...,Austin Meadows,9,bauej001,Jake Bauers,3,ciufn001,Nick Ciuffo,2,NaN,Y
2429,20181001,0,Mon,MIL,NL,163,CHN,NL,163,3,...,Jason Heyward,8,quinj001,Jose Quintana,1,contw001,Willson Contreras,2,NaN,Y
2430,20181001,0,Mon,COL,NL,163,LAN,NL,163,2,...,Yasiel Puig,9,herne001,Enrique Hernandez,4,buehw001,Walker Buehler,1,NaN,Y

In [328]:
data2017 = Path("Data/2017rotosheet.csv")
df2017 = pd.read_csv(data2017)
df2017.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20170402,0,Sun,SFN,NL,1,ARI,NL,1,5,...,David Peralta,9,mathj001,Jeff Mathis,2,greiz001,Zack Greinke,1,NaN,Y
1,20170402,0,Sun,CHN,NL,1,SLN,NL,1,3,...,Jedd Gyorko,4,gricr001,Randal Grichuk,7,martc006,Carlos Martinez,1,NaN,Y
2,20170402,0,Sun,NYA,AL,1,TBA,AL,1,3,...,Tim Beckham,6,smitm007,Mallex Smith,7,norrd001,Derek Norris,2,NaN,Y
3,20170403,0,Mon,PHI,NL,1,CIN,NL,1,4,...,Zack Cozart,6,barnt001,Tucker Barnhart,2,felds001,Scott Feldman,1,NaN,Y
4,20170403,0,Mon,SDN,NL,1,LAN,NL,1,3,...,Yasmani Grandal,2,puigy001,Yasiel Puig,9,kersc001,Clayton Kershaw,1,NaN,Y

In [329]:
data2016 = Path("Data/2016rotosheet.csv")
df2016 = pd.read_csv(data2016)
df2016.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20160403,0,Sun,NYN,NL,1,KCA,AL,1,3,...,Salvador Perez,2,infao001,Omar Infante,4,fuenr001,Reymond Fuentes,9,NaN,Y
1,20160403,0,Sun,TOR,AL,1,TBA,AL,1,5,...,Steven Souza,9,kierk001,Kevin Kiermaier,8,congh001,Hank Conger,2,NaN,Y
2,20160403,0,Sun,SLN,NL,1,PIT,NL,1,1,...,Josh Harrison,4,mercj002,Jordy Mercer,6,lirif001,Francisco Liriano,1,NaN,Y
3,20160404,0,Mon,CHN,NL,1,ANA,AL,1,9,...,Andrelton Simmons,6,perec003,Carlos Perez,2,giavj001,Johnny Giavotella,4,NaN,Y
4,20160404,0,Mon,MIN,AL,1,BAL,AL,1,2,...,J.J. Hardy,6,schoj001,Jonathan Schoop,4,rickj001,Joey Rickard,7,NaN,Y

In [330]:
data2015 = Path("Data/2015rotosheet.csv")
df2015 = pd.read_csv(data2015)
df2015.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20150405,0,Sun,SLN,NL,1,CHN,NL,1,3,...,David Ross,2,lestj001,Jon Lester,1,lastt001,Tommy La Stella,4,NaN,Y
1,20150406,0,Mon,MIN,AL,1,DET,AL,1,0,...,Nick Castellanos,5,avila001,Alex Avila,2,iglej001,Jose Iglesias,6,NaN,Y
2,20150406,0,Mon,CLE,AL,1,HOU,AL,1,0,...,Jed Lowrie,6,rasmc001,Colby Rasmus,7,marij002,Jake Marisnick,8,NaN,Y
3,20150406,0,Mon,CHA,AL,1,KCA,AL,1,1,...,Alex Rios,9,peres002,Salvador Perez,2,infao001,Omar Infante,4,NaN,Y
4,20150406,0,Mon,TOR,AL,1,NYA,AL,1,6,...,Alex Rodriguez,10,drews001,Stephen Drew,4,gregd001,Didi Gregorius,6,NaN,Y

In [331]:
data2014 = Path("Data/2014rotosheet.csv")
df2014 = pd.read_csv(data2014)
df2014.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20140322,0,Sat,LAN,NL,1,ARI,NL,1,3,...,Chris Owings,6,parrg001,Gerardo Parra,9,milew001,Wade Miley,1,NaN,Y
1,20140323,0,Sun,LAN,NL,2,ARI,NL,2,7,...,Gerardo Parra,9,gregd001,Didi Gregorius,6,cahit001,Trevor Cahill,1,NaN,Y
2,20140330,0,Sun,LAN,NL,3,SDN,NL,1,1,...,Will Venable,8,river003,Rene Rivera,2,casha001,Andrew Cashner,1,NaN,Y
3,20140331,0,Mon,SEA,AL,1,ANA,AL,1,10,...,Howie Kendrick,4,iannc001,Chris Iannetta,2,aybae001,Erick Aybar,6,NaN,Y
4,20140331,0,Mon,BOS,AL,1,BAL,AL,1,1,...,Delmon Young,10,flahr001,Ryan Flaherty,5,schoj001,Jonathan Schoop,4,NaN,Y

In [333]:
data2013_2010 = Path("Data/2013-2010rotosheet.csv")
df2013_2010 = pd.read_csv(data2013_2010)
df2013_2010.head()

C:\Users\joshu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (85,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20130331,0,Sun,TEX,AL,1,HOU,AL,1,2,...,Matt Dominguez,5,barnb002,Brandon Barnes,9,ceder002,Ronny Cedeno,6,NaN,Y
1,20130401,0,Mon,KCA,AL,1,CHA,AL,1,0,...,Alexei Ramirez,6,flowt001,Tyler Flowers,2,beckg001,Gordon Beckham,4,NaN,Y
2,20130401,0,Mon,DET,AL,1,MIN,AL,1,4,...,Chris Parmelee,9,dozib001,Brian Dozier,4,florp001,Pedro Florimon,6,NaN,Y
3,20130401,0,Mon,BOS,AL,1,NYA,AL,1,8,...,Ichiro Suzuki,9,nix-j001,Jayson Nix,5,cervf001,Francisco Cervelli,2,NaN,Y
4,20130401,0,Mon,SEA,AL,1,OAK,AL,1,2,...,Josh Donaldson,5,smits002,Seth Smith,10,sogae001,Eric Sogard,4,NaN,Y

In [334]:
df_allyears = pd.concat([df2019,df2018,df2017,df2016,df2015,df2014,df2013_2010], axis="rows", join="inner")

In [335]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20190320,0,Wed,SEA,AL,1,OAK,AL,1,9,...,Jurickson Profar,4,semim001,Marcus Semien,6,hundn001,Nick Hundley,2,NaN,Y
1,20190321,0,Thu,SEA,AL,2,OAK,AL,2,5,...,Jurickson Profar,4,laurr001,Ramon Laureano,8,phegj001,Josh Phegley,2,NaN,Y
2,20190328,0,Thu,PIT,NL,1,CIN,NL,1,3,...,Tucker Barnhart,2,iglej001,Jose Iglesias,6,castl003,Luis Castillo,1,NaN,Y
3,20190328,0,Thu,ARI,NL,1,LAN,NL,1,5,...,Enrique Hernandez,4,barna001,Austin Barnes,2,ryu-h001,Hyun-Jin Ryu,1,NaN,Y
4,20190328,0,Thu,COL,NL,1,MIA,NL,1,6,...,Miguel Rojas,6,herrr002,Rosell Herrera,7,urenj001,Jose Urena,1,NaN,Y

In [336]:
df_allyears.reset_index(inplace=True)

In [337]:
df_allyears.head()

,index,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,0,20190320,0,Wed,SEA,AL,1,OAK,AL,1,...,Jurickson Profar,4,semim001,Marcus Semien,6,hundn001,Nick Hundley,2,NaN,Y
1,1,20190321,0,Thu,SEA,AL,2,OAK,AL,2,...,Jurickson Profar,4,laurr001,Ramon Laureano,8,phegj001,Josh Phegley,2,NaN,Y
2,2,20190328,0,Thu,PIT,NL,1,CIN,NL,1,...,Tucker Barnhart,2,iglej001,Jose Iglesias,6,castl003,Luis Castillo,1,NaN,Y
3,3,20190328,0,Thu,ARI,NL,1,LAN,NL,1,...,Enrique Hernandez,4,barna001,Austin Barnes,2,ryu-h001,Hyun-Jin Ryu,1,NaN,Y
4,4,20190328,0,Thu,COL,NL,1,MIA,NL,1,...,Miguel Rojas,6,herrr002,Rosell Herrera,7,urenj001,Jose Urena,1,NaN,Y

In [338]:
df_allyears.drop(columns = 'index', inplace=True)

In [339]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20190320,0,Wed,SEA,AL,1,OAK,AL,1,9,...,Jurickson Profar,4,semim001,Marcus Semien,6,hundn001,Nick Hundley,2,NaN,Y
1,20190321,0,Thu,SEA,AL,2,OAK,AL,2,5,...,Jurickson Profar,4,laurr001,Ramon Laureano,8,phegj001,Josh Phegley,2,NaN,Y
2,20190328,0,Thu,PIT,NL,1,CIN,NL,1,3,...,Tucker Barnhart,2,iglej001,Jose Iglesias,6,castl003,Luis Castillo,1,NaN,Y
3,20190328,0,Thu,ARI,NL,1,LAN,NL,1,5,...,Enrique Hernandez,4,barna001,Austin Barnes,2,ryu-h001,Hyun-Jin Ryu,1,NaN,Y
4,20190328,0,Thu,COL,NL,1,MIA,NL,1,6,...,Miguel Rojas,6,herrr002,Rosell Herrera,7,urenj001,Jose Urena,1,NaN,Y

In [340]:
df_allyears['home_winner'] = ""

In [341]:
df_allyears['spread'] =""

In [342]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info,home_winner,spread
0,20190320,0,Wed,SEA,AL,1,OAK,AL,1,9,...,semim001,Marcus Semien,6,hundn001,Nick Hundley,2,NaN,Y,,
1,20190321,0,Thu,SEA,AL,2,OAK,AL,2,5,...,laurr001,Ramon Laureano,8,phegj001,Josh Phegley,2,NaN,Y,,
2,20190328,0,Thu,PIT,NL,1,CIN,NL,1,3,...,iglej001,Jose Iglesias,6,castl003,Luis Castillo,1,NaN,Y,,
3,20190328,0,Thu,ARI,NL,1,LAN,NL,1,5,...,barna001,Austin Barnes,2,ryu-h001,Hyun-Jin Ryu,1,NaN,Y,,
4,20190328,0,Thu,COL,NL,1,MIA,NL,1,6,...,herrr002,Rosell Herrera,7,urenj001,Jose Urena,1,NaN,Y,,

In [343]:
for x in range(0,len(df_allyears)):
    df_allyears['spread'][x] = df_allyears['hom score'][x] - df_allyears['vis score'][x]
    if (df_allyears['hom score'][x] - df_allyears['vis score'][x]) > 0:
        df_allyears['home_winner'][x] = 1
    else:
        df_allyears['home_winner'][x] = 0

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [344]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info,home_winner,spread
0,20190320,0,Wed,SEA,AL,1,OAK,AL,1,9,...,semim001,Marcus Semien,6,hundn001,Nick Hundley,2,NaN,Y,0,-2
1,20190321,0,Thu,SEA,AL,2,OAK,AL,2,5,...,laurr001,Ramon Laureano,8,phegj001,Josh Phegley,2,NaN,Y,0,-1
2,20190328,0,Thu,PIT,NL,1,CIN,NL,1,3,...,iglej001,Jose Iglesias,6,castl003,Luis Castillo,1,NaN,Y,1,2
3,20190328,0,Thu,ARI,NL,1,LAN,NL,1,5,...,barna001,Austin Barnes,2,ryu-h001,Hyun-Jin Ryu,1,NaN,Y,1,7
4,20190328,0,Thu,COL,NL,1,MIA,NL,1,6,...,herrr002,Rosell Herrera,7,urenj001,Jose Urena,1,NaN,Y,0,-3

In [345]:
df_allyears['Date'] = df_allyears['Date'].apply(lambda d:pd.to_datetime(d,format='%Y%m%d'))

In [355]:
df_allyears['vis team'].unique()

array(['SEA', 'PIT', 'ARI', 'COL', 'STL', 'ATL', 'SFG', 'NYM', 'CHW',
       'CLE', 'BAL', 'ANA', 'BOS', 'HOU', 'CHC', 'DET', 'MIL', 'PHI',
       'MIN', 'WSN', 'CIN', 'TEX', 'NYY', 'TOR', 'KCR', 'MIA', 'LAD',
       'TBD', 'SDP', 'OAK', 'FLA'], dtype=object)

In [356]:
df_allyears['vis team'].replace(to_replace = 'SLN', value='STL', inplace=True)
df_allyears['vis team'].replace(to_replace = 'SFN', value='SFG', inplace=True)
df_allyears['vis team'].replace(to_replace = 'NYN', value='NYM', inplace=True)
df_allyears['vis team'].replace(to_replace = 'CHA', value='CHW', inplace=True)
df_allyears['vis team'].replace(to_replace = 'CHN', value='CHC', inplace=True)
df_allyears['vis team'].replace(to_replace = 'KCA', value='KCR', inplace=True)
df_allyears['vis team'].replace(to_replace = 'WAS', value='WSN', inplace=True)
df_allyears['vis team'].replace(to_replace = 'NYA', value='NYY', inplace=True)
df_allyears['vis team'].replace(to_replace = 'FLL', value='FLA', inplace=True)
df_allyears['vis team'].replace(to_replace = 'LAN', value='LAD', inplace=True)
df_allyears['vis team'].replace(to_replace = 'TBA', value='TBD', inplace=True)
df_allyears['vis team'].replace(to_replace = 'SDN', value='SDP', inplace=True)
df_allyears['vis team'].replace(to_replace = 'FLO', value='FLA', inplace=True)
df_allyears['vis team'].replace(to_replace = 'MIA', value='FLA', inplace=True)

In [357]:
df_allyears['hom team'].replace(to_replace = 'SLN', value='STL', inplace=True)
df_allyears['hom team'].replace(to_replace = 'SFN', value='SFG', inplace=True)
df_allyears['hom team'].replace(to_replace = 'NYN', value='NYM', inplace=True)
df_allyears['hom team'].replace(to_replace = 'CHA', value='CHW', inplace=True)
df_allyears['hom team'].replace(to_replace = 'CHN', value='CHC', inplace=True)
df_allyears['hom team'].replace(to_replace = 'KCA', value='KCR', inplace=True)
df_allyears['hom team'].replace(to_replace = 'WAS', value='WSN', inplace=True)
df_allyears['hom team'].replace(to_replace = 'NYA', value='NYY', inplace=True)
df_allyears['hom team'].replace(to_replace = 'FLL', value='FLA', inplace=True)
df_allyears['hom team'].replace(to_replace = 'LAN', value='LAD', inplace=True)
df_allyears['hom team'].replace(to_replace = 'TBA', value='TBD', inplace=True)
df_allyears['hom team'].replace(to_replace = 'SDN', value='SDP', inplace=True)
df_allyears['hom team'].replace(to_replace = 'FLO', value='FLA', inplace=True)
df_allyears['hom team'].replace(to_replace = 'MIA', value='FLA', inplace=True)

In [358]:
df_allyears['vis team'].unique()

array(['SEA', 'PIT', 'ARI', 'COL', 'STL', 'ATL', 'SFG', 'NYM', 'CHW',
       'CLE', 'BAL', 'ANA', 'BOS', 'HOU', 'CHC', 'DET', 'MIL', 'PHI',
       'MIN', 'WSN', 'CIN', 'TEX', 'NYY', 'TOR', 'KCR', 'FLA', 'LAD',
       'TBD', 'SDP', 'OAK'], dtype=object)

In [359]:
df_allyears.to_csv(r'dataframev3.csv')

In [363]:
elodata = Path("Data/elo2010-2019.csv")
df_elo_data = pd.read_csv(elodata)
df_elo_data.head()

,Date,season,neutral,playoff,hom team,vis team,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,10/30/2019,2019,0,w,HOU,WSN,1599.542804,1584.363378,0.574617,0.425383,...,56.920649,61.723620,0.989236,27.776342,0.515172,0.484828,1587.973463,1583.382133,2,6
1,10/29/2019,2019,0,w,HOU,WSN,1605.069000,1578.837182,0.595209,0.404791,...,62.975093,60.272516,28.723451,21.776276,0.594638,0.405362,1591.026009,1580.329587,2,7
2,10/27/2019,2019,0,w,WSN,HOU,1584.005206,1599.900976,0.515546,0.484454,...,49.433197,66.891460,-29.811205,47.888341,0.373102,0.626898,1576.189971,1595.165625,1,7
3,10/26/2019,2019,0,w,WSN,HOU,1589.985555,1593.920627,0.538425,0.461575,...,56.003581,51.251046,0.823752,-24.893480,0.586974,0.413026,1578.722119,1592.633477,1,8
4,10/25/2019,2019,0,w,WSN,HOU,1593.827376,1590.078806,0.553044,0.446956,...,54.036365,57.096801,-9.053908,2.440389,0.526852,0.473148,1583.715416,1587.640180,1,4

In [491]:
team_name_list=df_elo_data['vis team'].unique()

In [365]:
df_elo_data['Date'] = df_elo_data['Date'].apply(lambda d:pd.to_datetime(d,format='%m/%d/%Y'))

In [638]:
df_allyears_elo = df_allyears.merge(df_elo_data, how = 'inner', left_on = ['Date', 'hom team', 'vis team'], right_on = ['Date', 'hom team', 'vis team'])

In [579]:
df_allyears_elo.to_csv(r'test.csv')

In [639]:
df_allyears_elo['vis team'].unique()

array(['SEA', 'PIT', 'ARI', 'COL', 'STL', 'ATL', 'SFG', 'NYM', 'CHW',
       'CLE', 'BAL', 'ANA', 'BOS', 'HOU', 'CHC', 'DET', 'MIL', 'PHI',
       'MIN', 'WSN', 'CIN', 'TEX', 'NYY', 'TOR', 'KCR', 'FLA', 'LAD',
       'TBD', 'SDP', 'OAK'], dtype=object)

In [665]:
df_allyears_elo['hom avg HRs'] = 0.00000000
df_allyears_elo['vis avg HRs'] = 0.00000000

In [666]:
df_allyears_elo.sort_values(by = ['Date'] ,ascending = True, inplace=True)

In [642]:
df_allyears_elo.reset_index(inplace=True)
df_allyears_elo.drop(columns = 'index', inplace = True)
df_allyears_elo.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2,hom avg HRs,vis avg HRs
0,2010-04-04,0,Sun,NYY,AL,1,BOS,AL,1,7,...,27.3493,46.703900,0.471714,0.528286,1538.434,1560.840,9,7,0,0
1,2010-04-05,0,Mon,PHI,NL,1,WSN,NL,1,11,...,8.3942,49.495700,0.366599,0.633401,1457.637,1540.900,1,11,0,0
2,2010-04-05,0,Mon,LAD,NL,1,PIT,NL,1,5,...,-6.9043,6.522398,0.412210,0.587790,1458.963,1523.359,11,5,0,0
3,2010-04-05,0,Mon,COL,NL,1,MIL,NL,1,5,...,28.8721,29.196400,0.505293,0.494707,1494.669,1519.280,3,5,0,0
4,2010-04-05,0,Mon,SFG,NL,1,HOU,NL,1,5,...,26.3623,50.698900,0.451397,0.548603,1473.590,1510.954,2,5,0,0

In [643]:
for x in team_name_list:
    globals()['df_hom_%s' % x] = df_allyears_elo[df_allyears_elo['hom team'] == x] 
    globals()['df_vis_%s' % x] = df_allyears_elo[df_allyears_elo['vis team'] == x]

In [644]:
#for x in team_name_list:
#    globals()['df_hom_%s[HOM HR AVG]' % x] = ['df_hom_%s[HOM AVG]' % x].expanding().mean()
#    globals()['df_vis_%s[VIS HR AVG]' % x] = ['df_vis_%s[VIS AVG]' % x].expanding().mean()

In [645]:
df_hom_WSN['HOM HR AVG'] = df_hom_WSN['HOM HR'].expanding().mean()
df_vis_WSN['VIS HR AVG'] = df_vis_WSN['VIS HR'].expanding().mean()

df_hom_HOU['HOM HR AVG'] = df_hom_HOU['HOM HR'].expanding().mean()
df_vis_HOU['VIS HR AVG'] = df_vis_HOU['VIS HR'].expanding().mean()

df_hom_NYY['HOM HR AVG'] = df_hom_NYY['HOM HR'].expanding().mean()
df_vis_NYY['VIS HR AVG'] = df_vis_NYY['VIS HR'].expanding().mean()

df_hom_STL['HOM HR AVG'] = df_hom_STL['HOM HR'].expanding().mean()
df_vis_STL['VIS HR AVG'] = df_vis_STL['VIS HR'].expanding().mean()

df_hom_TBD['HOM HR AVG'] = df_hom_TBD['HOM HR'].expanding().mean()
df_vis_TBD['VIS HR AVG'] = df_vis_TBD['VIS HR'].expanding().mean()

df_hom_LAD['HOM HR AVG'] = df_hom_LAD['HOM HR'].expanding().mean()
df_vis_LAD['VIS HR AVG'] = df_vis_LAD['VIS HR'].expanding().mean()

df_hom_ATL['HOM HR AVG'] = df_hom_ATL['HOM HR'].expanding().mean()
df_vis_ATL['VIS HR AVG'] = df_vis_ATL['VIS HR'].expanding().mean()

df_hom_MIN['HOM HR AVG'] = df_hom_MIN['HOM HR'].expanding().mean()
df_vis_MIN['VIS HR AVG'] = df_vis_MIN['VIS HR'].expanding().mean()

df_hom_MIL['HOM HR AVG'] = df_hom_MIL['HOM HR'].expanding().mean()
df_vis_MIL['VIS HR AVG'] = df_vis_MIL['VIS HR'].expanding().mean()

df_hom_CHC['HOM HR AVG'] = df_hom_CHC['HOM HR'].expanding().mean()
df_vis_CHC['VIS HR AVG'] = df_vis_CHC['VIS HR'].expanding().mean()

df_hom_OAK['HOM HR AVG'] = df_hom_OAK['HOM HR'].expanding().mean()
df_vis_OAK['VIS HR AVG'] = df_vis_OAK['VIS HR'].expanding().mean()

df_hom_DET['HOM HR AVG'] = df_hom_DET['HOM HR'].expanding().mean()
df_vis_DET['VIS HR AVG'] = df_vis_DET['VIS HR'].expanding().mean()

df_hom_SDP['HOM HR AVG'] = df_hom_SDP['HOM HR'].expanding().mean()
df_vis_SDP['VIS HR AVG'] = df_vis_SDP['VIS HR'].expanding().mean()

df_hom_CLE['HOM HR AVG'] = df_hom_CLE['HOM HR'].expanding().mean()
df_vis_CLE['VIS HR AVG'] = df_vis_CLE['VIS HR'].expanding().mean()

df_hom_FLA['HOM HR AVG'] = df_hom_FLA['HOM HR'].expanding().mean()
df_vis_FLA['VIS HR AVG'] = df_vis_FLA['VIS HR'].expanding().mean()

df_hom_BAL['HOM HR AVG'] = df_hom_BAL['HOM HR'].expanding().mean()
df_vis_BAL['VIS HR AVG'] = df_vis_BAL['VIS HR'].expanding().mean()

df_hom_PHI['HOM HR AVG'] = df_hom_PHI['HOM HR'].expanding().mean()
df_vis_PHI['VIS HR AVG'] = df_vis_PHI['VIS HR'].expanding().mean()

df_hom_COL['HOM HR AVG'] = df_hom_COL['HOM HR'].expanding().mean()
df_vis_COL['VIS HR AVG'] = df_vis_COL['VIS HR'].expanding().mean()

df_hom_BOS['HOM HR AVG'] = df_hom_BOS['HOM HR'].expanding().mean()
df_vis_BOS['VIS HR AVG'] = df_vis_BOS['VIS HR'].expanding().mean()

df_hom_ARI['HOM HR AVG'] = df_hom_ARI['HOM HR'].expanding().mean()
df_vis_ARI['VIS HR AVG'] = df_vis_ARI['VIS HR'].expanding().mean()

df_hom_TEX['HOM HR AVG'] = df_hom_TEX['HOM HR'].expanding().mean()
df_vis_TEX['VIS HR AVG'] = df_vis_TEX['VIS HR'].expanding().mean()

df_hom_KCR['HOM HR AVG'] = df_hom_KCR['HOM HR'].expanding().mean()
df_vis_KCR['VIS HR AVG'] = df_vis_KCR['VIS HR'].expanding().mean()

df_hom_PIT['HOM HR AVG'] = df_hom_PIT['HOM HR'].expanding().mean()
df_vis_PIT['VIS HR AVG'] = df_vis_PIT['VIS HR'].expanding().mean()

df_hom_ANA['HOM HR AVG'] = df_hom_ANA['HOM HR'].expanding().mean()
df_vis_ANA['VIS HR AVG'] = df_vis_ANA['VIS HR'].expanding().mean()

df_hom_SFG['HOM HR AVG'] = df_hom_SFG['HOM HR'].expanding().mean()
df_vis_SFG['VIS HR AVG'] = df_vis_SFG['VIS HR'].expanding().mean()

df_hom_NYM['HOM HR AVG'] = df_hom_NYM['HOM HR'].expanding().mean()
df_vis_NYM['VIS HR AVG'] = df_vis_NYM['VIS HR'].expanding().mean()

df_hom_TOR['HOM HR AVG'] = df_hom_TOR['HOM HR'].expanding().mean()
df_vis_TOR['VIS HR AVG'] = df_vis_TOR['VIS HR'].expanding().mean()

df_hom_SEA['HOM HR AVG'] = df_hom_SEA['HOM HR'].expanding().mean()
df_vis_SEA['VIS HR AVG'] = df_vis_SEA['VIS HR'].expanding().mean()

df_hom_CIN['HOM HR AVG'] = df_hom_CIN['HOM HR'].expanding().mean()
df_vis_CIN['VIS HR AVG'] = df_vis_CIN['VIS HR'].expanding().mean()

df_hom_CHW['HOM HR AVG'] = df_hom_CHW['HOM HR'].expanding().mean()
df_vis_CHW['VIS HR AVG'] = df_vis_CHW['VIS HR'].expanding().mean()

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.

In [651]:
df_hom_NYY

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2,hom avg HRs,vis avg HRs,HOM HR AVG
109,2010-04-13,0,Tue,ANA,AL,8,NYY,AL,7,5,...,2.199600,0.597845,0.402155,1567.667000,1528.980000,7,5,0,0,2.000000
122,2010-04-14,0,Wed,ANA,AL,9,NYY,AL,8,5,...,8.350361,0.595404,0.404596,1565.359000,1531.287000,3,5,0,0,1.000000
137,2010-04-15,0,Thu,ANA,AL,10,NYY,AL,9,2,...,8.337800,0.554180,0.445820,1567.559000,1529.088000,6,2,0,0,1.666667
151,2010-04-16,0,Fri,TEX,AL,10,NYY,AL,10,1,...,-30.418400,0.704518,0.295482,1568.785000,1519.564000,5,1,0,0,1.250000
166,2010-04-17,0,Sat,TEX,AL,11,NYY,AL,11,3,...,10.974500,0.601781,0.398219,1570.677000,1517.673000,7,3,0,0,1.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24657,2019-09-18,0,Wed,ANA,AL,152,NYY,AL,153,3,...,-14.779973,0.688769,0.311231,1585.027650,1476.932101,2,3,0,0,1.461905
24672,2019-09-19,0,Thu,ANA,AL,153,NYY,AL,154,1,...,16.374120,0.664200,0.335800,1586.728651,1475.231099,9,1,0,0,1.464923
24683,2019-09-20,0,Fri,TOR,AL,154,NYY,AL,155,4,...,-0.105340,0.690196,0.309804,1585.169852,1471.580749,3,4,0,0,1.465558
24699,2019-09-21,0,Sat,TOR,AL,155,NYY,AL,156,2,...,-3.902481,0.715645,0.284355,1586.163241,1470.587360,7,2,0,0,1.465006
24714,2019-09-22,0,Sun,TOR,AL,156,NYY,AL,157,3,...,-2.490773,0.713542,0.286458,1587.168029,1469.582572,8,3,0,0,1.466825

In [670]:
df_hom_WSN_merge = df_hom_WSN['HOM HR AVG']

df_hom_PIT_merge = df_hom_PIT['HOM HR AVG']

df_hom_ARI_merge = df_hom_ARI['HOM HR AVG']

df_hom_COL_merge = df_hom_COL['HOM HR AVG']

df_hom_STL_merge = df_hom_STL['HOM HR AVG']

df_hom_ATL_merge = df_hom_ATL['HOM HR AVG']


df_hom_SFG_merge = df_hom_SFG['HOM HR AVG']

df_hom_NYM_merge = df_hom_NYM['HOM HR AVG']

df_hom_CHW_merge = df_hom_CHW['HOM HR AVG']

df_hom_CLE_merge = df_hom_CLE['HOM HR AVG']

df_hom_BAL_merge = df_hom_BAL['HOM HR AVG']

df_hom_ANA_merge = df_hom_ANA['HOM HR AVG']

df_hom_BOS_merge = df_hom_BOS['HOM HR AVG']

df_hom_HOU_merge = df_hom_HOU['HOM HR AVG']

df_hom_CHC_merge = df_hom_CHC['HOM HR AVG']

df_hom_DET_merge = df_hom_DET['HOM HR AVG']

df_hom_MIL_merge = df_hom_MIL['HOM HR AVG']

df_hom_PHI_merge = df_hom_PHI['HOM HR AVG']

df_hom_MIN_merge = df_hom_MIN['HOM HR AVG']

df_hom_CIN_merge = df_hom_CIN['HOM HR AVG']

df_hom_TEX_merge = df_hom_TEX['HOM HR AVG']

df_hom_NYY_merge = df_hom_NYY['HOM HR AVG']

df_hom_TOR_merge = df_hom_TOR['HOM HR AVG']

df_hom_KCR_merge = df_hom_KCR['HOM HR AVG']

df_hom_FLA_merge = df_hom_FLA['HOM HR AVG']

df_hom_LAD_merge = df_hom_LAD['HOM HR AVG']

df_hom_TBD_merge = df_hom_TBD['HOM HR AVG']

df_hom_SDP_merge = df_hom_SDP['HOM HR AVG']

df_hom_OAK_merge = df_hom_OAK['HOM HR AVG']

df_hom_SEA_merge = df_hom_SEA['HOM HR AVG']

In [671]:
df_hom_ALL_merge = pd.concat([df_hom_WSN_merge, df_hom_ARI_merge, df_hom_PIT_merge, df_hom_COL_merge,
                              df_hom_STL_merge, df_hom_ATL_merge, df_hom_SFG_merge, df_hom_NYM_merge, df_hom_CHW_merge, df_hom_CLE_merge,
                              df_hom_BAL_merge, df_hom_ANA_merge, df_hom_BOS_merge, df_hom_HOU_merge, df_hom_CHC_merge, df_hom_DET_merge,
                              df_hom_MIL_merge, df_hom_PHI_merge, df_hom_MIN_merge, df_hom_CIN_merge, df_hom_TEX_merge, df_hom_NYY_merge,
                              df_hom_TOR_merge, df_hom_KCR_merge, df_hom_LAD_merge, df_hom_TBD_merge, df_hom_SDP_merge, df_hom_SEA_merge, df_hom_OAK_merge, df_hom_FLA_merge
                             ], axis="rows", join="outer")

In [672]:
df_hom_ALL_merge.sort_index(inplace=True)
df_hom_ALL_merge.isnull().sum()

0

In [673]:
df_hom_ALL_merge

0        1.000000
1        0.000000
2        3.000000
3        1.000000
4        0.000000
           ...
24817    1.092138
24818    1.237454
24819    1.399015
24820    0.647783
24821    0.988889
Name: HOM HR AVG, Length: 24822, dtype: float64

In [619]:
df_allyears_elo

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2,hom avg HRs,vis avg HRs
0,2019-03-20,0,Wed,SEA,AL,1,OAK,AL,1,9,...,15.661717,10.194364,0.549029,0.450971,1519.121831,1492.270839,7,9,0,0
1,2019-03-21,0,Thu,SEA,AL,2,OAK,AL,2,5,...,-9.598335,-3.155546,0.529336,0.470664,1517.909603,1493.483066,4,5,0,0
2,2019-03-28,0,Thu,PIT,NL,1,CIN,NL,1,3,...,21.582082,23.450096,0.527685,0.472315,1497.460295,1497.808583,5,3,0,0
3,2019-03-28,0,Thu,ARI,NL,1,LAD,NL,1,5,...,-5.088621,26.523517,0.583315,0.416685,1564.181965,1495.274684,12,5,0,0
4,2019-03-28,0,Thu,COL,NL,1,FLA,NL,1,6,...,8.329398,21.624555,0.405631,0.594369,1435.910544,1516.153022,3,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24817,2010-10-03,0,Sun,CHC,NL,162,HOU,NL,162,0,...,14.337243,2.895200,0.523445,0.476555,1471.739000,1485.480000,4,0,0,0
24818,2010-10-03,0,Sun,ARI,NL,162,LAD,NL,162,1,...,15.627500,8.090362,0.585781,0.414219,1498.747000,1467.448000,3,1,0,0
24819,2010-10-03,0,Sun,WSN,NL,162,NYM,NL,162,2,...,-5.395600,9.612464,0.562180,0.437820,1489.294000,1458.086000,1,2,0,0
24820,2010-10-03,0,Sun,SDP,NL,162,SFG,NL,162,0,...,4.507300,19.678900,0.549743,0.450257,1541.938000,1512.166000,3,0,0,0
24821,2010-10-03,0,Sun,COL,NL,162,STL,NL,162,1,...,5.378259,-33.205500,0.580278,0.419722,1511.489000,1512.172000,6,1,0,0

In [667]:
for x in range(0,len(df_allyears_elo)):
    df_allyears_elo['hom avg HRs'][x] = df_hom_ALL_merge[x]

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [668]:
df_allyears_elo['hom avg HRs'][24821]

0.9888888888888889

In [669]:
df_allyears_elo.tail()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2,hom avg HRs,vis avg HRs
24808,2019-09-29,0,Sun,DET,AL,161,CHW,AL,161,3,...,-13.619056,13.150939,0.604253,0.395747,1462.059120,1383.793306,5,3,1.119190,0.0
24807,2019-09-29,0,Sun,MIN,AL,162,KCR,AL,162,4,...,-18.509968,-29.389174,0.384372,0.615628,1430.506140,1544.557193,5,4,0.769880,0.0
24820,2019-09-29,0,Sun,LAD,NL,162,SFG,NL,162,9,...,-4.822719,-1.960340,0.363906,0.636094,1473.671069,1596.004820,0,9,0.647783,0.0
24813,2019-09-29,0,Sun,ATL,NL,162,NYM,NL,162,6,...,-6.560683,23.550643,0.474830,0.525170,1533.426584,1542.584611,7,6,0.973872,0.0
24821,2019-09-29,0,Sun,OAK,AL,162,SEA,AL,162,1,...,5.136325,-10.115520,0.418133,0.581867,1465.818655,1559.092801,3,1,0.988889,0.0

In [674]:
df_vis_WSN_merge = df_vis_WSN['VIS HR AVG']

df_vis_PIT_merge = df_vis_PIT['VIS HR AVG']

df_vis_ARI_merge = df_vis_ARI['VIS HR AVG']

df_vis_COL_merge = df_vis_COL['VIS HR AVG']

df_vis_STL_merge = df_vis_STL['VIS HR AVG']

df_vis_ATL_merge = df_vis_ATL['VIS HR AVG']

df_vis_SFG_merge = df_vis_SFG['VIS HR AVG']

df_vis_NYM_merge = df_vis_NYM['VIS HR AVG']

df_vis_CHW_merge = df_vis_CHW['VIS HR AVG']

df_vis_CLE_merge = df_vis_CLE['VIS HR AVG']

df_vis_BAL_merge = df_vis_BAL['VIS HR AVG']

df_vis_ANA_merge = df_vis_ANA['VIS HR AVG']

df_vis_BOS_merge = df_vis_BOS['VIS HR AVG']

df_vis_HOU_merge = df_vis_HOU['VIS HR AVG']

df_vis_CHC_merge = df_vis_CHC['VIS HR AVG']

df_vis_DET_merge = df_vis_DET['VIS HR AVG']

df_vis_MIL_merge = df_vis_MIL['VIS HR AVG']

df_vis_PHI_merge = df_vis_PHI['VIS HR AVG']

df_vis_MIN_merge = df_vis_MIN['VIS HR AVG']

df_vis_CIN_merge = df_vis_CIN['VIS HR AVG']

df_vis_TEX_merge = df_vis_TEX['VIS HR AVG']

df_vis_NYY_merge = df_vis_NYY['VIS HR AVG']

df_vis_TOR_merge = df_vis_TOR['VIS HR AVG']

df_vis_KCR_merge = df_vis_KCR['VIS HR AVG']

df_vis_FLA_merge = df_vis_FLA['VIS HR AVG']

df_vis_LAD_merge = df_vis_LAD['VIS HR AVG']

df_vis_TBD_merge = df_vis_TBD['VIS HR AVG']

df_vis_SDP_merge = df_vis_SDP['VIS HR AVG']

df_vis_OAK_merge = df_vis_OAK['VIS HR AVG']

df_vis_SEA_merge = df_vis_SEA['VIS HR AVG']

In [675]:
df_vis_ALL_merge = pd.concat([df_vis_WSN_merge, df_vis_ARI_merge, df_vis_PIT_merge, df_vis_COL_merge,
                              df_vis_STL_merge, df_vis_ATL_merge, df_vis_SFG_merge, df_vis_NYM_merge, df_vis_CHW_merge, df_vis_CLE_merge,
                              df_vis_BAL_merge, df_vis_ANA_merge, df_vis_BOS_merge, df_vis_HOU_merge, df_vis_CHC_merge, df_vis_DET_merge,
                              df_vis_MIL_merge, df_vis_PHI_merge, df_vis_MIN_merge, df_vis_CIN_merge, df_vis_TEX_merge, df_vis_NYY_merge,
                              df_vis_TOR_merge, df_vis_KCR_merge, df_vis_LAD_merge, df_vis_TBD_merge, df_vis_SDP_merge, df_vis_SEA_merge, df_vis_OAK_merge, df_vis_FLA_merge
                             ], axis="rows", join="outer")

In [676]:
for x in range(0,len(df_allyears_elo)):
    df_allyears_elo['vis avg HRs'][x] = df_vis_ALL_merge[x]

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [677]:
df_allyears_elo.tail()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2,hom avg HRs,vis avg HRs
24808,2019-09-29,0,Sun,DET,AL,161,CHW,AL,161,3,...,-13.619056,13.150939,0.604253,0.395747,1462.059120,1383.793306,5,3,1.119190,1.014388
24807,2019-09-29,0,Sun,MIN,AL,162,KCR,AL,162,4,...,-18.509968,-29.389174,0.384372,0.615628,1430.506140,1544.557193,5,4,0.769880,1.090909
24820,2019-09-29,0,Sun,LAD,NL,162,SFG,NL,162,9,...,-4.822719,-1.960340,0.363906,0.636094,1473.671069,1596.004820,0,9,0.647783,1.050542
24813,2019-09-29,0,Sun,ATL,NL,162,NYM,NL,162,6,...,-6.560683,23.550643,0.474830,0.525170,1533.426584,1542.584611,7,6,0.973872,0.996372
24821,2019-09-29,0,Sun,OAK,AL,162,SEA,AL,162,1,...,5.136325,-10.115520,0.418133,0.581867,1465.818655,1559.092801,3,1,0.988889,1.195360

In [678]:
df_allyears_elo['hom avg RBIs'] = 0.00000000
df_allyears_elo['vis avg RBIs'] = 0.00000000

In [679]:
df_hom_WSN['HOM RBI AVG'] = df_hom_WSN['HOM RBI'].expanding().mean()
df_vis_WSN['VIS RBI AVG'] = df_vis_WSN['VIS RBI'].expanding().mean()

df_hom_HOU['HOM RBI AVG'] = df_hom_HOU['HOM RBI'].expanding().mean()
df_vis_HOU['VIS RBI AVG'] = df_vis_HOU['VIS RBI'].expanding().mean()

df_hom_NYY['HOM RBI AVG'] = df_hom_NYY['HOM RBI'].expanding().mean()
df_vis_NYY['VIS RBI AVG'] = df_vis_NYY['VIS RBI'].expanding().mean()

df_hom_STL['HOM RBI AVG'] = df_hom_STL['HOM RBI'].expanding().mean()
df_vis_STL['VIS RBI AVG'] = df_vis_STL['VIS RBI'].expanding().mean()

df_hom_TBD['HOM RBI AVG'] = df_hom_TBD['HOM RBI'].expanding().mean()
df_vis_TBD['VIS RBI AVG'] = df_vis_TBD['VIS RBI'].expanding().mean()

df_hom_LAD['HOM RBI AVG'] = df_hom_LAD['HOM RBI'].expanding().mean()
df_vis_LAD['VIS RBI AVG'] = df_vis_LAD['VIS RBI'].expanding().mean()

df_hom_ATL['HOM RBI AVG'] = df_hom_ATL['HOM RBI'].expanding().mean()
df_vis_ATL['VIS RBI AVG'] = df_vis_ATL['VIS RBI'].expanding().mean()

df_hom_MIN['HOM RBI AVG'] = df_hom_MIN['HOM RBI'].expanding().mean()
df_vis_MIN['VIS RBI AVG'] = df_vis_MIN['VIS RBI'].expanding().mean()

df_hom_MIL['HOM RBI AVG'] = df_hom_MIL['HOM RBI'].expanding().mean()
df_vis_MIL['VIS RBI AVG'] = df_vis_MIL['VIS RBI'].expanding().mean()

df_hom_CHC['HOM RBI AVG'] = df_hom_CHC['HOM RBI'].expanding().mean()
df_vis_CHC['VIS RBI AVG'] = df_vis_CHC['VIS RBI'].expanding().mean()

df_hom_OAK['HOM RBI AVG'] = df_hom_OAK['HOM RBI'].expanding().mean()
df_vis_OAK['VIS RBI AVG'] = df_vis_OAK['VIS RBI'].expanding().mean()

df_hom_DET['HOM RBI AVG'] = df_hom_DET['HOM RBI'].expanding().mean()
df_vis_DET['VIS RBI AVG'] = df_vis_DET['VIS RBI'].expanding().mean()

df_hom_SDP['HOM RBI AVG'] = df_hom_SDP['HOM RBI'].expanding().mean()
df_vis_SDP['VIS RBI AVG'] = df_vis_SDP['VIS RBI'].expanding().mean()

df_hom_CLE['HOM RBI AVG'] = df_hom_CLE['HOM RBI'].expanding().mean()
df_vis_CLE['VIS RBI AVG'] = df_vis_CLE['VIS RBI'].expanding().mean()

df_hom_FLA['HOM RBI AVG'] = df_hom_FLA['HOM RBI'].expanding().mean()
df_vis_FLA['VIS RBI AVG'] = df_vis_FLA['VIS RBI'].expanding().mean()

df_hom_BAL['HOM RBI AVG'] = df_hom_BAL['HOM RBI'].expanding().mean()
df_vis_BAL['VIS RBI AVG'] = df_vis_BAL['VIS RBI'].expanding().mean()

df_hom_PHI['HOM RBI AVG'] = df_hom_PHI['HOM RBI'].expanding().mean()
df_vis_PHI['VIS RBI AVG'] = df_vis_PHI['VIS RBI'].expanding().mean()

df_hom_COL['HOM RBI AVG'] = df_hom_COL['HOM RBI'].expanding().mean()
df_vis_COL['VIS RBI AVG'] = df_vis_COL['VIS RBI'].expanding().mean()

df_hom_BOS['HOM RBI AVG'] = df_hom_BOS['HOM RBI'].expanding().mean()
df_vis_BOS['VIS RBI AVG'] = df_vis_BOS['VIS RBI'].expanding().mean()

df_hom_ARI['HOM RBI AVG'] = df_hom_ARI['HOM RBI'].expanding().mean()
df_vis_ARI['VIS RBI AVG'] = df_vis_ARI['VIS RBI'].expanding().mean()

df_hom_TEX['HOM RBI AVG'] = df_hom_TEX['HOM RBI'].expanding().mean()
df_vis_TEX['VIS RBI AVG'] = df_vis_TEX['VIS RBI'].expanding().mean()

df_hom_KCR['HOM RBI AVG'] = df_hom_KCR['HOM RBI'].expanding().mean()
df_vis_KCR['VIS RBI AVG'] = df_vis_KCR['VIS RBI'].expanding().mean()

df_hom_PIT['HOM RBI AVG'] = df_hom_PIT['HOM RBI'].expanding().mean()
df_vis_PIT['VIS RBI AVG'] = df_vis_PIT['VIS RBI'].expanding().mean()

df_hom_ANA['HOM RBI AVG'] = df_hom_ANA['HOM RBI'].expanding().mean()
df_vis_ANA['VIS RBI AVG'] = df_vis_ANA['VIS RBI'].expanding().mean()

df_hom_SFG['HOM RBI AVG'] = df_hom_SFG['HOM RBI'].expanding().mean()
df_vis_SFG['VIS RBI AVG'] = df_vis_SFG['VIS RBI'].expanding().mean()

df_hom_NYM['HOM RBI AVG'] = df_hom_NYM['HOM RBI'].expanding().mean()
df_vis_NYM['VIS RBI AVG'] = df_vis_NYM['VIS RBI'].expanding().mean()

df_hom_TOR['HOM RBI AVG'] = df_hom_TOR['HOM RBI'].expanding().mean()
df_vis_TOR['VIS RBI AVG'] = df_vis_TOR['VIS RBI'].expanding().mean()

df_hom_SEA['HOM RBI AVG'] = df_hom_SEA['HOM RBI'].expanding().mean()
df_vis_SEA['VIS RBI AVG'] = df_vis_SEA['VIS RBI'].expanding().mean()

df_hom_CIN['HOM RBI AVG'] = df_hom_CIN['HOM RBI'].expanding().mean()
df_vis_CIN['VIS RBI AVG'] = df_vis_CIN['VIS RBI'].expanding().mean()

df_hom_CHW['HOM RBI AVG'] = df_hom_CHW['HOM RBI'].expanding().mean()
df_vis_CHW['VIS RBI AVG'] = df_vis_CHW['VIS RBI'].expanding().mean()

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.

In [680]:
df_vis_WSN_merge2 = df_vis_WSN['VIS RBI AVG']

df_vis_PIT_merge2 = df_vis_PIT['VIS RBI AVG']

df_vis_ARI_merge2 = df_vis_ARI['VIS RBI AVG']

df_vis_COL_merge2 = df_vis_COL['VIS RBI AVG']

df_vis_STL_merge2 = df_vis_STL['VIS RBI AVG']

df_vis_ATL_merge2 = df_vis_ATL['VIS RBI AVG']

df_vis_SFG_merge2 = df_vis_SFG['VIS RBI AVG']

df_vis_NYM_merge2 = df_vis_NYM['VIS RBI AVG']

df_vis_CHW_merge2 = df_vis_CHW['VIS RBI AVG']

df_vis_CLE_merge2 = df_vis_CLE['VIS RBI AVG']

df_vis_BAL_merge2 = df_vis_BAL['VIS RBI AVG']

df_vis_ANA_merge2 = df_vis_ANA['VIS RBI AVG']

df_vis_BOS_merge2 = df_vis_BOS['VIS RBI AVG']

df_vis_HOU_merge2 = df_vis_HOU['VIS RBI AVG']

df_vis_CHC_merge2 = df_vis_CHC['VIS RBI AVG']

df_vis_DET_merge2 = df_vis_DET['VIS RBI AVG']

df_vis_MIL_merge2 = df_vis_MIL['VIS RBI AVG']

df_vis_PHI_merge2 = df_vis_PHI['VIS RBI AVG']

df_vis_MIN_merge2 = df_vis_MIN['VIS RBI AVG']

df_vis_CIN_merge2 = df_vis_CIN['VIS RBI AVG']

df_vis_TEX_merge2 = df_vis_TEX['VIS RBI AVG']

df_vis_NYY_merge2 = df_vis_NYY['VIS RBI AVG']

df_vis_TOR_merge2 = df_vis_TOR['VIS RBI AVG']

df_vis_KCR_merge2 = df_vis_KCR['VIS RBI AVG']

df_vis_FLA_merge2 = df_vis_FLA['VIS RBI AVG']

df_vis_LAD_merge2 = df_vis_LAD['VIS RBI AVG']

df_vis_TBD_merge2 = df_vis_TBD['VIS RBI AVG']

df_vis_SDP_merge2 = df_vis_SDP['VIS RBI AVG']

df_vis_OAK_merge2 = df_vis_OAK['VIS RBI AVG']

df_vis_SEA_merge2 = df_vis_SEA['VIS RBI AVG']

In [681]:
df_vis_ALL_merge2 = pd.concat([df_vis_WSN_merge2, df_vis_ARI_merge2, df_vis_PIT_merge2, df_vis_COL_merge2,
                              df_vis_STL_merge2, df_vis_ATL_merge2, df_vis_SFG_merge2, df_vis_NYM_merge2, df_vis_CHW_merge2, df_vis_CLE_merge2,
                              df_vis_BAL_merge2, df_vis_ANA_merge2, df_vis_BOS_merge2, df_vis_HOU_merge2, df_vis_CHC_merge2, df_vis_DET_merge2,
                              df_vis_MIL_merge2, df_vis_PHI_merge2, df_vis_MIN_merge2, df_vis_CIN_merge2, df_vis_TEX_merge2, df_vis_NYY_merge2,
                              df_vis_TOR_merge2, df_vis_KCR_merge2, df_vis_LAD_merge2, df_vis_TBD_merge2, df_vis_SDP_merge2, df_vis_SEA_merge2, df_vis_OAK_merge2, df_vis_FLA_merge2
                             ], axis="rows", join="outer")

In [682]:
for x in range(0,len(df_allyears_elo)):
    df_allyears_elo['vis avg RBIs'][x] = df_vis_ALL_merge2[x]

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [684]:
df_hom_WSN_merge2 = df_hom_WSN['HOM RBI AVG']

df_hom_PIT_merge2 = df_hom_PIT['HOM RBI AVG']

df_hom_ARI_merge2 = df_hom_ARI['HOM RBI AVG']

df_hom_COL_merge2 = df_hom_COL['HOM RBI AVG']

df_hom_STL_merge2 = df_hom_STL['HOM RBI AVG']

df_hom_ATL_merge2 = df_hom_ATL['HOM RBI AVG']

df_hom_SFG_merge2 = df_hom_SFG['HOM RBI AVG']

df_hom_NYM_merge2 = df_hom_NYM['HOM RBI AVG']

df_hom_CHW_merge2 = df_hom_CHW['HOM RBI AVG']

df_hom_CLE_merge2 = df_hom_CLE['HOM RBI AVG']

df_hom_BAL_merge2 = df_hom_BAL['HOM RBI AVG']

df_hom_ANA_merge2 = df_hom_ANA['HOM RBI AVG']

df_hom_BOS_merge2 = df_hom_BOS['HOM RBI AVG']

df_hom_HOU_merge2 = df_hom_HOU['HOM RBI AVG']

df_hom_CHC_merge2 = df_hom_CHC['HOM RBI AVG']

df_hom_DET_merge2 = df_hom_DET['HOM RBI AVG']

df_hom_MIL_merge2 = df_hom_MIL['HOM RBI AVG']

df_hom_PHI_merge2 = df_hom_PHI['HOM RBI AVG']

df_hom_MIN_merge2 = df_hom_MIN['HOM RBI AVG']

df_hom_CIN_merge2 = df_hom_CIN['HOM RBI AVG']

df_hom_TEX_merge2 = df_hom_TEX['HOM RBI AVG']

df_hom_NYY_merge2 = df_hom_NYY['HOM RBI AVG']

df_hom_TOR_merge2 = df_hom_TOR['HOM RBI AVG']

df_hom_KCR_merge2 = df_hom_KCR['HOM RBI AVG']

df_hom_FLA_merge2 = df_hom_FLA['HOM RBI AVG']

df_hom_LAD_merge2 = df_hom_LAD['HOM RBI AVG']

df_hom_TBD_merge2 = df_hom_TBD['HOM RBI AVG']

df_hom_SDP_merge2 = df_hom_SDP['HOM RBI AVG']

df_hom_OAK_merge2 = df_hom_OAK['HOM RBI AVG']

df_hom_SEA_merge2 = df_hom_SEA['HOM RBI AVG']

In [ ]:
df_vis_ALL_merge2 = pd.concat([df_vis_WSN_merge2, df_vis_ARI_merge2, df_vis_PIT_merge2, df_vis_COL_merge2,
                              df_vis_STL_merge2, df_vis_ATL_merge2, df_vis_SFG_merge2, df_vis_NYM_merge2, df_vis_CHW_merge2, df_vis_CLE_merge2,
                              df_vis_BAL_merge2, df_vis_ANA_merge2, df_vis_BOS_merge2, df_vis_HOU_merge2, df_vis_CHC_merge2, df_vis_DET_merge2,
                              df_vis_MIL_merge2, df_vis_PHI_merge2, df_vis_MIN_merge2, df_vis_CIN_merge2, df_vis_TEX_merge2, df_vis_NYY_merge2,
                              df_vis_TOR_merge2, df_vis_KCR_merge2, df_vis_LAD_merge2, df_vis_TBD_merge2, df_vis_SDP_merge2, df_vis_SEA_merge2, df_vis_OAK_merge2, df_vis_FLA_merge2
                             ], axis="rows", join="outer")

In [685]:
df_hom_ALL_merge2 = pd.concat([df_hom_WSN_merge2, df_hom_ARI_merge2, df_hom_PIT_merge2, df_hom_COL_merge2,
                              df_hom_STL_merge2, df_hom_ATL_merge2, df_hom_SFG_merge2, df_hom_NYM_merge2, df_hom_CHW_merge2, df_hom_CLE_merge2,
                              df_hom_BAL_merge2, df_hom_ANA_merge2, df_hom_BOS_merge2, df_hom_HOU_merge2, df_hom_CHC_merge2, df_hom_DET_merge2,
                              df_hom_MIL_merge2, df_hom_PHI_merge2, df_hom_MIN_merge2, df_hom_CIN_merge2, df_hom_TEX_merge2, df_hom_NYY_merge2,
                              df_hom_TOR_merge2, df_hom_KCR_merge2, df_hom_LAD_merge2, df_hom_TBD_merge2, df_hom_SDP_merge2, df_hom_SEA_merge2, df_hom_OAK_merge2, df_hom_FLA_merge2
                             ], axis="rows", join="outer")

In [686]:
for x in range(0,len(df_allyears_elo)):
    df_allyears_elo['hom avg RBIs'][x] = df_hom_ALL_merge2[x]

C:\Users\joshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [687]:
df_allyears_elo.tail()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2,hom avg HRs,vis avg HRs,hom avg RBIs,vis avg RBIs
24808,2019-09-29,0,Sun,DET,AL,161,CHW,AL,161,3,...,0.604253,0.395747,1462.059120,1383.793306,5,3,1.119190,1.014388,4.065554,4.094724
24807,2019-09-29,0,Sun,MIN,AL,162,KCR,AL,162,4,...,0.384372,0.615628,1430.506140,1544.557193,5,4,0.769880,1.090909,4.097590,4.270335
24820,2019-09-29,0,Sun,LAD,NL,162,SFG,NL,162,9,...,0.363906,0.636094,1473.671069,1596.004820,0,9,0.647783,1.050542,3.645320,4.381468
24813,2019-09-29,0,Sun,ATL,NL,162,NYM,NL,162,6,...,0.474830,0.525170,1533.426584,1542.584611,7,6,0.973872,0.996372,3.719715,4.038694
24821,2019-09-29,0,Sun,OAK,AL,162,SEA,AL,162,1,...,0.418133,0.581867,1465.818655,1559.092801,3,1,0.988889,1.195360,3.604938,4.312576

In [369]:
df_allyears_elo_encoded = pd.get_dummies(df_allyears_elo, columns = ['vis team', 'hom team', 'd/n'])

In [370]:
df_allyears_elo_encoded.head()

,Date,no of games,day,vis league,vis game no,hom league,hom game no,vis score,hom score,no of total outs,...,hom team_SDP,hom team_SEA,hom team_SFG,hom team_STL,hom team_TBD,hom team_TEX,hom team_TOR,hom team_WSN,d/n_D,d/n_N
0,2019-03-20,0,Wed,AL,1,AL,1,9,7,54,...,0,0,0,0,0,0,0,0,0,1
1,2019-03-21,0,Thu,AL,2,AL,2,5,4,72,...,0,0,0,0,0,0,0,0,0,1
2,2019-03-28,0,Thu,NL,1,NL,1,3,5,51,...,0,0,0,0,0,0,0,0,1,0
3,2019-03-28,0,Thu,NL,1,NL,1,5,12,51,...,0,0,0,0,0,0,0,0,1,0
4,2019-03-28,0,Thu,NL,1,NL,1,6,3,54,...,0,0,0,0,0,0,0,0,1,0

In [188]:
#list(df_allyears_encoded.columns)

In [189]:
#df_allyears_encoded_drop = df_allyears_encoded.drop(columns=[input column names])

In [263]:
df_allyears_elo_encoded.to_csv(r'dataframe.csv')

In [168]:
cleandata = Path("dataframev2.csv")
df_clean_data = pd.read_csv(cleandata)
df_clean_data.head()

,Date,vis league,hom league,VIS Abs,VIS H,VIS 2B,VIS 3B,VIS HR,VIS SAC HIT,VIS SAC FLY,...,hom team_SEA,hom team_SFN,hom team_SLN,hom team_TBA,hom team_TEX,hom team_TOR,hom team_WAS,d/n_D,d/n_N,spread
0,20190320,AL,AL,31,7,1,0,2,1,1,...,0,0,0,0,0,0,0,0,1,-2
1,20190321,AL,AL,43,9,4,0,2,0,1,...,0,0,0,0,0,0,0,0,1,-1
2,20190328,NL,NL,31,5,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,2
3,20190328,NL,NL,33,9,4,0,2,0,2,...,0,0,0,0,0,0,0,1,0,7
4,20190328,NL,NL,36,9,5,0,1,0,0,...,0,0,0,0,0,0,0,1,0,-3

In [169]:
df_clean_data_encoded = pd.get_dummies(df_clean_data, columns = ['hom league','vis league'])

In [190]:
df_clean_data_encoded.drop(columns = 'spread', inplace = True)

In [195]:
df_clean_data_encoded['Date'] = df_clean_data_encoded['Date'].apply(lambda d:pd.to_datetime(d,format='%Y%m%d'))

In [202]:
X = df_clean_data_encoded.copy()
X.drop(["home_winner", 'Date'], axis=1, inplace=True)
X.head()

,VIS Abs,VIS H,VIS 2B,VIS 3B,VIS HR,VIS SAC HIT,VIS SAC FLY,VIS HBP,VIS WALK,VIS IBB,...,hom team_TBA,hom team_TEX,hom team_TOR,hom team_WAS,d/n_D,d/n_N,hom league_AL,hom league_NL,vis league_AL,vis league_NL
0,31,7,1,0,2,1,1,2,6,0,...,0,0,0,0,0,1,1,0,1,0
1,43,9,4,0,2,0,1,2,5,0,...,0,0,0,0,0,1,1,0,1,0
2,31,5,0,0,1,1,0,0,7,0,...,0,0,0,0,1,0,0,1,0,1
3,33,9,4,0,2,0,2,0,0,0,...,0,0,0,0,1,0,0,1,0,1
4,36,9,5,0,1,0,0,0,3,0,...,0,0,0,0,1,0,0,1,0,1

In [203]:
y = df_clean_data_encoded["home_winner"].ravel()

In [204]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [205]:
scaler = StandardScaler()

In [206]:
X_scaler = scaler.fit(X_train)

In [207]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [208]:
X_train.isnull().sum()

VIS Abs          0
VIS H            0
VIS 2B           0
VIS 3B           0
VIS HR           0
                ..
d/n_N            0
hom league_AL    0
hom league_NL    0
vis league_AL    0
vis league_NL    0
Length: 114, dtype: int64

In [209]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

In [210]:
rf_model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [211]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [212]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [213]:
# Calculating the confusion matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [214]:
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1495          194
Actual 1          214         1742

Accuracy Score : 0.8880658436213992
Classification Report
              precision    recall  f1-score   support

           0       0.87      0.89      0.88      1689
           1       0.90      0.89      0.90      1956

    accuracy                           0.89      3645
   macro avg       0.89      0.89      0.89      3645
weighted avg       0.89      0.89      0.89      3645

In [215]:
X_test

,VIS Abs,VIS H,VIS 2B,VIS 3B,VIS HR,VIS SAC HIT,VIS SAC FLY,VIS HBP,VIS WALK,VIS IBB,...,hom team_TBA,hom team_TEX,hom team_TOR,hom team_WAS,d/n_D,d/n_N,hom league_AL,hom league_NL,vis league_AL,vis league_NL
12584,36,9,1,0,2,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
9643,32,5,1,0,1,0,0,0,6,0,...,0,0,0,0,0,1,0,1,0,1
3328,34,9,2,0,2,0,0,2,2,0,...,0,0,1,0,0,1,1,0,1,0
6826,33,7,0,0,2,0,0,0,3,0,...,0,0,0,0,0,1,1,0,1,0
11887,45,13,1,0,1,0,0,0,4,0,...,0,0,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9383,31,5,2,0,1,0,0,1,1,0,...,0,0,0,0,0,1,1,0,1,0
12255,34,11,3,1,0,1,2,1,7,1,...,0,0,0,0,0,1,0,1,0,1
6903,34,5,1,0,0,0,0,0,2,0,...,0,0,0,0,0,1,1,0,1,0
10149,17,5,1,0,0,0,1,1,4,0,...,0,0,0,0,0,1,0,1,0,1
10537,29,5,0,0,0,1,1,0,3,0,...,0,0,0,0,0,1,0,1,0,1

In [184]:
predictions

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)

In [185]:
X_train_scaled

array([[ 0.30456698,  0.72023563,  0.94099215, ...,  1.00073206,
        -0.99908567,  0.99908567],
       [-0.85875087,  0.0286576 ,  0.65800334, ..., -0.99926847,
         1.00091516, -1.00091516],
       [ 1.46238922,  2.56444373,  0.37501453, ...,  1.00073206,
        -0.99908567,  0.99908567],
       ...,
       [ 0.28749548,  0.0286576 , -0.19096308, ...,  1.00073206,
        -0.99908567,  0.99908567],
       [ 1.46192151, -0.89344645, -0.47395189, ..., -0.99926847,
         1.00091516, -1.00091516],
       [ 0.31187499,  0.0286576 , -0.19096308, ..., -0.99926847,
        -0.99908567,  0.99908567]])

In [186]:
importances = rf_model.feature_importances_

sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.5257741899804326, 'spread'),
 (0.05573167399743777, 'VIS H'),
 (0.054928027444437026, 'HOM H'),
 (0.0367705007925857, 'VIS Abs'),
 (0.029944179615191375, 'HOM HR'),
 (0.02746678175476966, 'VIS HR'),
 (0.021133122809994197, 'HOM Abs'),
 (0.01617437980884318, 'VIS WALK'),
 (0.015629583903689154, 'HOM K'),
 (0.01350068862913563, 'VIS 2B'),
 (0.012569414260349457, 'HOM WALK'),
 (0.011037440147935118, 'HOM 2B'),
 (0.010580187091045988, 'HOM IBB'),
 (0.009319793735325717, 'VIS IBB'),
 (0.008332267062964771, 'VIS assists'),
 (0.008171934894497614, 'Date'),
 (0.007122873045471433, 'VIS LOB'),
 (0.0070506939743450936, 'HOM LOB'),
 (0.006448552846054053, 'VIS K'),
 (0.00639635972931595, 'HOM SB'),
 (0.005606402657079944, 'HOM errors'),
 (0.005568716985622441, 'HOM No P'),
 (0.005479228941876642, 'VIS No P'),
 (0.005374581558652138, 'VIS SAC FLY'),
 (0.005343216185915513, 'HOM assists'),
 (0.004608786733678692, 'VIS SB'),
 (0.004586071275836742, 'HOM SAC FLY'),
 (0.004315622930466399, 'VIS errors'),
 (0.0037483321496746573, 'HOM SAC HIT'),
 (0.0034318533451672155, 'HOM 3B'),
 (0.0033124804191876894, 'VIS double plays'),
 (0.002987082664145396, 'HOM GIDP'),
 (0.0026853752300352923, 'HOM double plays'),
 (0.002556515832518995, 'HOM WP'),
 (0.0025354280020967535, 'VIS GIDP'),
 (0.0025310978577769024, 'VIS SAC HIT'),
 (0.002364737617216199, 'VIS WP'),
 (0.0023506608941528395, 'VIS HBP'),
 (0.002336118099973268, 'VIS 3B'),
 (0.0021977497815657263, 'HOM HBP'),
 (0.0017843610395640486, 'VIS CS'),
 (0.0016430024826632047, 'HOM CS'),
 (0.0012551632258570758, 'd/n_D'),
 (0.0012486724998386732, 'd/n_N'),
 (0.0010794533325227263, 'vis league_NL'),
 (0.001074747348948805, 'vis league_AL'),
 (0.001042415939145701, 'hom league_NL'),
 (0.000903238384997766, 'HOM passed balls'),
 (0.0008843127199343009, 'hom league_AL'),
 (0.0007027060463942454, 'VIS passed balls'),
 (0.0006075956216503971, 'vis team_PHI'),
 (0.0005996893600075277, 'hom team_ARI'),
 (0.0005970043241894608, 'hom team_LAN'),
 (0.0005914633803575089, 'vis team_CHA'),
 (0.0005810533874917328, 'vis team_CIN'),
 (0.000578476449626273, 'hom team_MIA'),
 (0.0005744769241413184, 'hom team_ATL'),
 (0.0005670203468356122, 'hom team_NYA'),
 (0.0005615688147814527, 'hom team_SEA'),
 (0.0005561373712657062, 'hom team_CHN'),
 (0.0005481783277701393, 'vis team_CHN'),
 (0.0005358270014993406, 'hom team_ANA'),
 (0.0005278901033284202, 'hom team_TBA'),
 (0.0005265170175697954, 'hom team_PHI'),
 (0.0005224546455396116, 'vis team_SEA'),
 (0.0005217210532291129, 'vis team_HOU'),
 (0.0005210923345657652, 'hom team_COL'),
 (0.00052058020582596, 'vis team_BAL'),
 (0.0005205123114197702, 'hom team_OAK'),
 (0.0005179848650489851, 'VIS Balks'),
 (0.0005104509768055714, 'hom team_DET'),
 (0.0005076658241440734, 'vis team_SDN'),
 (0.0005054717323890621, 'vis team_MIL'),
 (0.000502176471576059, 'vis team_NYA'),
 (0.0005005573582573498, 'vis team_TOR'),
 (0.000488962369435454, 'vis team_MIA'),
 (0.00048718279267510927, 'hom team_SFN'),
 (0.0004815593371262463, 'hom team_SLN'),
 (0.0004813387966937101, 'vis team_SLN'),
 (0.0004813121652960672, 'hom team_TEX'),
 (0.0004774210409466552, 'hom team_KCA'),
 (0.0004768448274670432, 'hom team_BAL'),
 (0.0004759815446559345, 'vis team_BOS'),
 (0.0004751260422776943, 'hom team_WAS'),
 (0.00047378068715581937, 'vis team_ARI'),
 (0.00046786996368751893, 'hom team_BOS'),
 (0.0004629675891186581, 'vis team_ATL'),
 (0.00046251892943687944, 'vis team_COL'),
 (0.0004603261603079462, 'hom team_NYN'),
 (0.00045945256459660645, 'vis team_PIT'),
 (0.0004541129097812209, 'vis team_OAK'),
 (0.00044838441113917, 'hom team_CIN'),
 (0.0004480145891345565, 'vis team_ANA'),
 (0.00044597792518550033, 'vis team_SFN'),
 (0.000444066065730781, 'hom team_MIL'),
 (0.00043889967800268175, 'vis team_KCA'),
 (0.00043888350314422446, 'hom team_HOU'),
 (0.0004334385701309315, 'HOM Balks'),
 (0.00043332462711797367, 'vis team_DET'),
 (0.00043093515043049686, 'hom team_CHA'),
 (0.0004254706642586493, 'vis team_CLE'),
 (0.00042529840834324914, 'vis team_NYN'),
 (0.0004211473480271782, 'hom team_MIN'),
 (0.00042092399110341843, 'hom team_CLE'),
 (0.0004170389166352261, 'vis team_LAN'),
 (0.00041120465960328196, 'vis team_TEX'),
 (0.0004088279326998561, 'hom team_PIT'),
 (0.00039672384799590947, 'vis team_MIN'),
 (0.00038740273028433514, 'vis team_WAS'),
 (0.00038485036132223207, 'hom team_TOR'),
 (0.000383954330378427, 'hom team_SDN'),
 (0.00037959911306480616, 'vis team_TBA'),
 (0.00016319125017041417, 'VIS INF'),
 (0.00010903244116794604, 'HOM INF'),
 (8.043334787041046e-05, 'VIS triple plays'),
 (3.187450075629115e-05, 'HOM triple plays')]