In [1]:
from path import Path
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn
import statsapi

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
data2019 = Path("Data/2019rotosheet.csv")
df2019 = pd.read_csv(data2019)
df2019.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20190320,0,Wed,SEA,AL,1,OAK,AL,1,9,...,Jurickson Profar,4,semim001,Marcus Semien,6,hundn001,Nick Hundley,2,NaN,Y
1,20190321,0,Thu,SEA,AL,2,OAK,AL,2,5,...,Jurickson Profar,4,laurr001,Ramon Laureano,8,phegj001,Josh Phegley,2,NaN,Y
2,20190328,0,Thu,PIT,NL,1,CIN,NL,1,3,...,Tucker Barnhart,2,iglej001,Jose Iglesias,6,castl003,Luis Castillo,1,NaN,Y
3,20190328,0,Thu,ARI,NL,1,LAN,NL,1,5,...,Enrique Hernandez,4,barna001,Austin Barnes,2,ryu-h001,Hyun-Jin Ryu,1,NaN,Y
4,20190328,0,Thu,COL,NL,1,MIA,NL,1,6,...,Miguel Rojas,6,herrr002,Rosell Herrera,7,urenj001,Jose Urena,1,NaN,Y

In [4]:
data2018 = Path("Data/2018rotosheet.csv")
df2018 = pd.read_csv(data2018)
df2018.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20180329.0,0.0,Thu,COL,NL,1.0,ARI,NL,1.0,2.0,...,Nick Ahmed,6.0,dysoj001,Jarrod Dyson,9.0,corbp001,Patrick Corbin,1.0,NaN,Y
1,20180329.0,0.0,Thu,PHI,NL,1.0,ATL,NL,1.0,5.0,...,Dansby Swanson,6.0,flahr001,Ryan Flaherty,5.0,tehej001,Julio Teheran,1.0,NaN,Y
2,20180329.0,0.0,Thu,SFN,NL,1.0,LAN,NL,1.0,1.0,...,Yasmani Grandal,2.0,forsl001,Logan Forsythe,5.0,kersc001,Clayton Kershaw,1.0,NaN,Y
3,20180329.0,0.0,Thu,CHN,NL,1.0,MIA,NL,1.0,8.0,...,Miguel Rojas,6.0,wallc001,Chad Wallach,2.0,urenj001,Jose Urena,1.0,NaN,Y
4,20180329.0,0.0,Thu,SLN,NL,1.0,NYN,NL,1.0,4.0,...,Kevin Plawecki,2.0,syndn001,Noah Syndergaard,1.0,rosaa003,Amed Rosario,6.0,NaN,Y

In [5]:
data2017 = Path("Data/2017rotosheet.csv")
df2017 = pd.read_csv(data2017)
df2017.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20170402,0,Sun,SFN,NL,1,ARI,NL,1,5,...,David Peralta,9,mathj001,Jeff Mathis,2,greiz001,Zack Greinke,1,NaN,Y
1,20170402,0,Sun,CHN,NL,1,SLN,NL,1,3,...,Jedd Gyorko,4,gricr001,Randal Grichuk,7,martc006,Carlos Martinez,1,NaN,Y
2,20170402,0,Sun,NYA,AL,1,TBA,AL,1,3,...,Tim Beckham,6,smitm007,Mallex Smith,7,norrd001,Derek Norris,2,NaN,Y
3,20170403,0,Mon,PHI,NL,1,CIN,NL,1,4,...,Zack Cozart,6,barnt001,Tucker Barnhart,2,felds001,Scott Feldman,1,NaN,Y
4,20170403,0,Mon,SDN,NL,1,LAN,NL,1,3,...,Yasmani Grandal,2,puigy001,Yasiel Puig,9,kersc001,Clayton Kershaw,1,NaN,Y

In [6]:
data2016 = Path("Data/2016rotosheet.csv")
df2016 = pd.read_csv(data2016)
df2016.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20160403,0,Sun,NYN,NL,1,KCA,AL,1,3,...,Salvador Perez,2,infao001,Omar Infante,4,fuenr001,Reymond Fuentes,9,NaN,Y
1,20160403,0,Sun,TOR,AL,1,TBA,AL,1,5,...,Steven Souza,9,kierk001,Kevin Kiermaier,8,congh001,Hank Conger,2,NaN,Y
2,20160403,0,Sun,SLN,NL,1,PIT,NL,1,1,...,Josh Harrison,4,mercj002,Jordy Mercer,6,lirif001,Francisco Liriano,1,NaN,Y
3,20160404,0,Mon,CHN,NL,1,ANA,AL,1,9,...,Andrelton Simmons,6,perec003,Carlos Perez,2,giavj001,Johnny Giavotella,4,NaN,Y
4,20160404,0,Mon,MIN,AL,1,BAL,AL,1,2,...,J.J. Hardy,6,schoj001,Jonathan Schoop,4,rickj001,Joey Rickard,7,NaN,Y

In [7]:
data2015 = Path("Data/2015rotosheet.csv")
df2015 = pd.read_csv(data2015)
df2015.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20150405,0,Sun,SLN,NL,1,CHN,NL,1,3,...,David Ross,2,lestj001,Jon Lester,1,lastt001,Tommy La Stella,4,NaN,Y
1,20150406,0,Mon,MIN,AL,1,DET,AL,1,0,...,Nick Castellanos,5,avila001,Alex Avila,2,iglej001,Jose Iglesias,6,NaN,Y
2,20150406,0,Mon,CLE,AL,1,HOU,AL,1,0,...,Jed Lowrie,6,rasmc001,Colby Rasmus,7,marij002,Jake Marisnick,8,NaN,Y
3,20150406,0,Mon,CHA,AL,1,KCA,AL,1,1,...,Alex Rios,9,peres002,Salvador Perez,2,infao001,Omar Infante,4,NaN,Y
4,20150406,0,Mon,TOR,AL,1,NYA,AL,1,6,...,Alex Rodriguez,10,drews001,Stephen Drew,4,gregd001,Didi Gregorius,6,NaN,Y

In [8]:
data2014 = Path("Data/2014rotosheet.csv")
df2014 = pd.read_csv(data2014)
df2014.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20140322,0,Sat,LAN,NL,1,ARI,NL,1,3,...,Chris Owings,6,parrg001,Gerardo Parra,9,milew001,Wade Miley,1,NaN,Y
1,20140323,0,Sun,LAN,NL,2,ARI,NL,2,7,...,Gerardo Parra,9,gregd001,Didi Gregorius,6,cahit001,Trevor Cahill,1,NaN,Y
2,20140330,0,Sun,LAN,NL,3,SDN,NL,1,1,...,Will Venable,8,river003,Rene Rivera,2,casha001,Andrew Cashner,1,NaN,Y
3,20140331,0,Mon,SEA,AL,1,ANA,AL,1,10,...,Howie Kendrick,4,iannc001,Chris Iannetta,2,aybae001,Erick Aybar,6,NaN,Y
4,20140331,0,Mon,BOS,AL,1,BAL,AL,1,1,...,Delmon Young,10,flahr001,Ryan Flaherty,5,schoj001,Jonathan Schoop,4,NaN,Y

In [16]:
df_allyears = pd.concat([df2019,df2018,df2017,df2016,df2015,df2014], axis="rows", join="inner")

In [25]:
df_allyears.head()

,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,vis score,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,20190320.0,0.0,Wed,SEA,AL,1.0,OAK,AL,1.0,9.0,...,Jurickson Profar,4.0,semim001,Marcus Semien,6.0,hundn001,Nick Hundley,2.0,NaN,Y
1,20190321.0,0.0,Thu,SEA,AL,2.0,OAK,AL,2.0,5.0,...,Jurickson Profar,4.0,laurr001,Ramon Laureano,8.0,phegj001,Josh Phegley,2.0,NaN,Y
2,20190328.0,0.0,Thu,PIT,NL,1.0,CIN,NL,1.0,3.0,...,Tucker Barnhart,2.0,iglej001,Jose Iglesias,6.0,castl003,Luis Castillo,1.0,NaN,Y
3,20190328.0,0.0,Thu,ARI,NL,1.0,LAN,NL,1.0,5.0,...,Enrique Hernandez,4.0,barna001,Austin Barnes,2.0,ryu-h001,Hyun-Jin Ryu,1.0,NaN,Y
4,20190328.0,0.0,Thu,COL,NL,1.0,MIA,NL,1.0,6.0,...,Miguel Rojas,6.0,herrr002,Rosell Herrera,7.0,urenj001,Jose Urena,1.0,NaN,Y

In [33]:
df_allyears.reset_index(inplace=True)

In [39]:
df_allyears.head()

,index,Date,no of games,day,vis team,vis league,vis game no,hom team,hom league,hom game no,...,HOM 7 Name,HOM 7 Def Pos,HOM 8 ID,HOM 8 Name,HOM 8 Def Pos,HOM 9 ID,HOM 9 Name,HOM 9 Def Pos,Additional Info,acq info
0,0,20190320.0,0.0,Wed,SEA,AL,1.0,OAK,AL,1.0,...,Jurickson Profar,4.0,semim001,Marcus Semien,6.0,hundn001,Nick Hundley,2.0,NaN,Y
1,1,20190321.0,0.0,Thu,SEA,AL,2.0,OAK,AL,2.0,...,Jurickson Profar,4.0,laurr001,Ramon Laureano,8.0,phegj001,Josh Phegley,2.0,NaN,Y
2,2,20190328.0,0.0,Thu,PIT,NL,1.0,CIN,NL,1.0,...,Tucker Barnhart,2.0,iglej001,Jose Iglesias,6.0,castl003,Luis Castillo,1.0,NaN,Y
3,3,20190328.0,0.0,Thu,ARI,NL,1.0,LAN,NL,1.0,...,Enrique Hernandez,4.0,barna001,Austin Barnes,2.0,ryu-h001,Hyun-Jin Ryu,1.0,NaN,Y
4,4,20190328.0,0.0,Thu,COL,NL,1.0,MIA,NL,1.0,...,Miguel Rojas,6.0,herrr002,Rosell Herrera,7.0,urenj001,Jose Urena,1.0,NaN,Y